@media (max-width: 1199px) {
  body:after {
    height: 420px;
  }

  .page-footer {
    height: 420px;
  }

  .page-footer__list {
    column-count: 2;
    padding-left: 90px;
  }

  .site-top-filter__form .form-group {
    width: 100%;
  }
  .form-group--item {
    float: left;
    width: 100%;
    margin-bottom: 20px;
  }
  .left-round,
  .no-round,
  .right-round{
    width: 100%;
    border-right:none;
  }
  .right-round,
  .left-round ,
  .no-round {
    border-radius: 3px;
  }
  .btn.filter-button {
    width: 100%;
  }
  .indicator {
    display: none;
  }
  .site-top-filter {
    padding: 25px 0 60px;
  }
  .site-top-filter__title {
    margin-bottom: 30px;
  }
  .page-footer__mailto .icon-mail-flag {
    left: 0;
  }
  .modal-dialog--big {
    width: 98%;
  }
  .site-header__main-menu {
    padding: 20px 20px 45px;
  }
  .site-header__tel,
  .site-header__favorite{
    margin-right: 5px;
  }
  .blog-list--title {
    max-width: 315px;
    max-height: 50px;
  }
  .blog-list--prev {
    max-height: 60px;
  }
  .article-foto {
    height: 330px;
  }
  .left-sidebar-nav.left-sidebar-nav--ctrl li {
    padding: 0 11px 0 15px;
  }
  .add-block .photo-set--list .photo-set--item {
    margin-right: 4.1%;
  }
  .add-block .info__label {
    vertical-align: bottom;
    padding: 5px 0;
    white-space: normal;
  }
  .add-block .add-item {
    padding: 9px 0;
    font-size: 13px;
  }
  #add-your-trainer {
    position: relative;
    left: -20px;
  }
  .goods-prop__rating-favorite {
    max-width: 250px;
  }
  .goods-prop__location {
    height: 29px;
  }
  .goods-prop__to-favorite {
    display: block;
    margin-top: 5px;
  }
  .direction-filter__item {
    .info__label {
      display: block;
    }
  }
  .direction-filter__item {
    margin-right: 4%;
  }
  .direction-filter__item--checkbox {
    margin-left: 60px;
  }
  .direction-filter__item--wrapper {
    min-width: 100%;
  }

  .personal-form {
    padding: 0 20px 20px 0;
    font-size: 14px;
  }
  .statistic-body__table tbody tr td:first-child {
    width: 50%;
  }
  .statistic-body__table tbody tr td:nth-child(2),
  .statistic-body__table tbody tr td:nth-child(3),
  .statistic-body__table tbody tr td:nth-child(4) {
    width: 16.666666%;
  }
  .goods-prop__price--left {
    width: 67%;
    padding-right: 5px;
  }
  .goods-prop__price--right {
    width: 33%;
  }
  .business-hours li {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .object-top__prop {
    margin-left: 310px;
    .goods-prop__title {
      max-width: 280px;
    }

  }
  .object-top__controls .goods-prop__rating-favorite,
  .trainer-list .goods-prop__rating-favorite {
    max-width: none;
  }
  .object-top__controls .goods-prop__to-favorite {
    display: inline-block;
  }
  .object-contacts__title {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .object-contacts > li {
    margin-bottom: 15px;
  }
  .object-top__controls {
    padding: 15px 0 0;
  }
  .object-top {
    min-height: 454px;
  }
  .object-contacts {
    min-height: 413px;
  }

  .three-photo-block li {
    height: 140px;
  }
  .object-tabs__title a {
    padding: 10px 0;
    font-size: 14px;
  }
  .r-tabs-nav .object-tabs__title {
    margin-right: .67%;
  }
  .r-tabs-nav .object-tabs__title:last-child.r-tabs-state-active:after,
  .r-tabs-nav .object-tabs__title.r-tabs-state-active:after {
    height: 40px;
  }

  .price-panel .panel-body .goods-prop__price--left {
    width: 80%;
  }
  .price-panel .panel-body .goods-prop__price--right {
    width: 20%;
  }
  .action-list {

    .btn-medium {
      padding: 12px 20px;
    }

    .goods-prop__start-price {
      margin-bottom: 3px;
    }

    .goods-prop__title {
      height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }
  .goods-prop__action-date {
    margin-bottom: 0;
  }
























}