@media (max-width: 1199px) {
  body:after {
    height: 420px;
  }

  .page-footer {
    height: 420px;
  }

  .page-footer__list {
    column-count: 2;
    padding-left: 90px;
  }

  .form-group {
    float: left;
    width: 100%;
  }
  .form-group--item {
    float: left;
    width: 100%;
    margin-bottom: 20px;
  }
  .btn-group.bootstrap-select.custom-select.left-round,
  .btn-group.bootstrap-select.custom-select.no-round,
  .btn-group.bootstrap-select.custom-select.right-round{
    width: 100%;
    border-right:none;
  }
  .custom-select.right-round .btn.dropdown-toggle.btn-default,
  .custom-select.left-round .btn.dropdown-toggle.btn-default,
  .custom-select.no-round .btn.dropdown-toggle.btn-default{
    border-radius: 3px;
  }
  .btn.filter-button {
    width: 100%;
  }
  .indicator {
    display: none;
  }
  .site-top-filter {
    padding: 25px 0 60px;
  }
  .site-top-filter__title {
    margin-bottom: 30px;
  }
  .page-footer__mailto .icon-mail-flag {
    left: 0;
  }
  .modal-dialog--big {
    width: 98%;
  }
  .site-header__main-menu {
    padding: 20px 20px 45px;
  }
  .site-header__tel,
  .site-header__favorite{
    margin-right: 5px;
  }
  .blog-list--title {
    max-width: 315px;
    max-height: 50px;
  }
  .blog-list--prev {
    max-height: 60px;
  }
  .article-foto {
    height: 330px;
  }
  .left-sidebar-nav.left-sidebar-nav--ctrl li {
    padding: 0 11px 0 15px;
  }
  .add-block .photo-set--list .photo-set--item {
    margin-right: 4.1%;
  }
  .add-block .info__label {
    vertical-align: bottom;
    padding: 5px 0;
    white-space: normal;
  }
  .add-block .add-item {
    padding: 9px 0;
    font-size: 13px;
  }
  #add-your-trainer {
    position: relative;
    left: -20px;
  }
  .goods-prop__rating-favorite {
    max-width: 240px;
  }
  .goods-prop__location {
    height: 29px;
  }
  .goods-prop__to-favorite {
    display: block;
    margin-top: 5px;
  }
  .direction-filter__item {
    .info__label {
      display: block;
    }
  }
  .direction-filter__item {
    margin-right: 6%;
  }

  .personal-form {
    padding: 0 20px 20px 0;
    font-size: 14px;
  }
  .statistic-body__table tbody tr td:first-child {
    width: 50%;
  }
  .statistic-body__table tbody tr td:nth-child(2),
  .statistic-body__table tbody tr td:nth-child(3),
  .statistic-body__table tbody tr td:nth-child(4) {
    width: 16.666666%;
  }
  .goods-prop__price--left {
    width: 67%;
    padding-right: 5px;
  }
  .goods-prop__price--right {
    width: 33%;
  }



}