@charset "UTF-8";

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/open-sans/OpenSansRegular.eot");
  src: url("../fonts/open-sans/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/open-sans/OpenSansRegular.woff") format("woff"),
  url("../fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../fonts/open-sans/OpenSansSemiBold.eot");
  src: url("../fonts/open-sans/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/open-sans/OpenSansSemiBold.woff") format("woff"),
  url("../fonts/open-sans/OpenSans-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans-SemiboldItalic";
  src: url("../fonts/open-sans/OpenSans-SemiboldItalic.ttf") format("truetype"),
  url("../fonts/open-sans/OpenSansSemiBoldItalic.eot"),
  url("../fonts/open-sans/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/open-sans/OpenSansSemiBoldItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/open-sans/OpenSansBold.eot");
  src: url("../fonts/open-sans/OpenSansBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/open-sans/OpenSansBold.woff") format("woff"),
  url("../fonts/open-sans/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/open-sans/OpenSansLight.eot");
  src: url("../fonts/open-sans/OpenSansLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/open-sans/OpenSansLight.woff") format("woff"),
  url("../fonts/open-sans/OpenSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}