// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$all-lines-name: 'all-lines';
$all-lines-x: 92px;
$all-lines-y: 233px;
$all-lines-offset-x: -92px;
$all-lines-offset-y: -233px;
$all-lines-width: 16px;
$all-lines-height: 16px;
$all-lines-total-width: 400px;
$all-lines-total-height: 304px;
$all-lines-image: '../img/png_sprite/sprite.png';
$all-lines: (92px, 233px, -92px, -233px, 16px, 16px, 400px, 304px, '../img/png_sprite/sprite.png', 'all-lines', );
$arrow-right-blue-big-name: 'arrow-right-blue-big';
$arrow-right-blue-big-x: 75px;
$arrow-right-blue-big-y: 265px;
$arrow-right-blue-big-offset-x: -75px;
$arrow-right-blue-big-offset-y: -265px;
$arrow-right-blue-big-width: 10px;
$arrow-right-blue-big-height: 15px;
$arrow-right-blue-big-total-width: 400px;
$arrow-right-blue-big-total-height: 304px;
$arrow-right-blue-big-image: '../img/png_sprite/sprite.png';
$arrow-right-blue-big: (75px, 265px, -75px, -265px, 10px, 15px, 400px, 304px, '../img/png_sprite/sprite.png', 'arrow-right-blue-big', );
$arrow-right-blue-name: 'arrow-right-blue';
$arrow-right-blue-x: 390px;
$arrow-right-blue-y: 141px;
$arrow-right-blue-offset-x: -390px;
$arrow-right-blue-offset-y: -141px;
$arrow-right-blue-width: 7px;
$arrow-right-blue-height: 11px;
$arrow-right-blue-total-width: 400px;
$arrow-right-blue-total-height: 304px;
$arrow-right-blue-image: '../img/png_sprite/sprite.png';
$arrow-right-blue: (390px, 141px, -390px, -141px, 7px, 11px, 400px, 304px, '../img/png_sprite/sprite.png', 'arrow-right-blue', );
$arrow-white-name: 'arrow-white';
$arrow-white-x: 107px;
$arrow-white-y: 191px;
$arrow-white-offset-x: -107px;
$arrow-white-offset-y: -191px;
$arrow-white-width: 8px;
$arrow-white-height: 5px;
$arrow-white-total-width: 400px;
$arrow-white-total-height: 304px;
$arrow-white-image: '../img/png_sprite/sprite.png';
$arrow-white: (107px, 191px, -107px, -191px, 8px, 5px, 400px, 304px, '../img/png_sprite/sprite.png', 'arrow-white', );
$arrow-name: 'arrow';
$arrow-x: 99px;
$arrow-y: 191px;
$arrow-offset-x: -99px;
$arrow-offset-y: -191px;
$arrow-width: 8px;
$arrow-height: 5px;
$arrow-total-width: 400px;
$arrow-total-height: 304px;
$arrow-image: '../img/png_sprite/sprite.png';
$arrow: (99px, 191px, -99px, -191px, 8px, 5px, 400px, 304px, '../img/png_sprite/sprite.png', 'arrow', );
$b-line-name: 'b-line';
$b-line-x: 272px;
$b-line-y: 199px;
$b-line-offset-x: -272px;
$b-line-offset-y: -199px;
$b-line-width: 22px;
$b-line-height: 21px;
$b-line-total-width: 400px;
$b-line-total-height: 304px;
$b-line-image: '../img/png_sprite/sprite.png';
$b-line: (272px, 199px, -272px, -199px, 22px, 21px, 400px, 304px, '../img/png_sprite/sprite.png', 'b-line', );
$blue-book-name: 'blue-book';
$blue-book-x: 294px;
$blue-book-y: 199px;
$blue-book-offset-x: -294px;
$blue-book-offset-y: -199px;
$blue-book-width: 19px;
$blue-book-height: 18px;
$blue-book-total-width: 400px;
$blue-book-total-height: 304px;
$blue-book-image: '../img/png_sprite/sprite.png';
$blue-book: (294px, 199px, -294px, -199px, 19px, 18px, 400px, 304px, '../img/png_sprite/sprite.png', 'blue-book', );
$blue-burger-name: 'blue-burger';
$blue-burger-x: 296px;
$blue-burger-y: 233px;
$blue-burger-offset-x: -296px;
$blue-burger-offset-y: -233px;
$blue-burger-width: 16px;
$blue-burger-height: 10px;
$blue-burger-total-width: 400px;
$blue-burger-total-height: 304px;
$blue-burger-image: '../img/png_sprite/sprite.png';
$blue-burger: (296px, 233px, -296px, -233px, 16px, 10px, 400px, 304px, '../img/png_sprite/sprite.png', 'blue-burger', );
$blue-house-name: 'blue-house';
$blue-house-x: 188px;
$blue-house-y: 233px;
$blue-house-offset-x: -188px;
$blue-house-offset-y: -233px;
$blue-house-width: 16px;
$blue-house-height: 16px;
$blue-house-total-width: 400px;
$blue-house-total-height: 304px;
$blue-house-image: '../img/png_sprite/sprite.png';
$blue-house: (188px, 233px, -188px, -233px, 16px, 16px, 400px, 304px, '../img/png_sprite/sprite.png', 'blue-house', );
$blue-man-name: 'blue-man';
$blue-man-x: 16px;
$blue-man-y: 265px;
$blue-man-offset-x: -16px;
$blue-man-offset-y: -265px;
$blue-man-width: 16px;
$blue-man-height: 18px;
$blue-man-total-width: 400px;
$blue-man-total-height: 304px;
$blue-man-image: '../img/png_sprite/sprite.png';
$blue-man: (16px, 265px, -16px, -265px, 16px, 18px, 400px, 304px, '../img/png_sprite/sprite.png', 'blue-man', );
$blue-map-name: 'blue-map';
$blue-map-x: 336px;
$blue-map-y: 179px;
$blue-map-offset-x: -336px;
$blue-map-offset-y: -179px;
$blue-map-width: 18px;
$blue-map-height: 14px;
$blue-map-total-width: 400px;
$blue-map-total-height: 304px;
$blue-map-image: '../img/png_sprite/sprite.png';
$blue-map: (336px, 179px, -336px, -179px, 18px, 14px, 400px, 304px, '../img/png_sprite/sprite.png', 'blue-map', );
$blue-picker-name: 'blue-picker';
$blue-picker-x: 48px;
$blue-picker-y: 265px;
$blue-picker-offset-x: -48px;
$blue-picker-offset-y: -265px;
$blue-picker-width: 14px;
$blue-picker-height: 18px;
$blue-picker-total-width: 400px;
$blue-picker-total-height: 304px;
$blue-picker-image: '../img/png_sprite/sprite.png';
$blue-picker: (48px, 265px, -48px, -265px, 14px, 18px, 400px, 304px, '../img/png_sprite/sprite.png', 'blue-picker', );
$blue-sale-name: 'blue-sale';
$blue-sale-x: 42px;
$blue-sale-y: 233px;
$blue-sale-offset-x: -42px;
$blue-sale-offset-y: -233px;
$blue-sale-width: 17px;
$blue-sale-height: 17px;
$blue-sale-total-width: 400px;
$blue-sale-total-height: 304px;
$blue-sale-image: '../img/png_sprite/sprite.png';
$blue-sale: (42px, 233px, -42px, -233px, 17px, 17px, 400px, 304px, '../img/png_sprite/sprite.png', 'blue-sale', );
$blue-select-burger-name: 'blue-select-burger';
$blue-select-burger-x: 204px;
$blue-select-burger-y: 233px;
$blue-select-burger-offset-x: -204px;
$blue-select-burger-offset-y: -233px;
$blue-select-burger-width: 20px;
$blue-select-burger-height: 12px;
$blue-select-burger-total-width: 400px;
$blue-select-burger-total-height: 304px;
$blue-select-burger-image: '../img/png_sprite/sprite.png';
$blue-select-burger: (204px, 233px, -204px, -233px, 20px, 12px, 400px, 304px, '../img/png_sprite/sprite.png', 'blue-select-burger', );
$box-blue-name: 'box-blue';
$box-blue-x: 220px;
$box-blue-y: 179px;
$box-blue-offset-x: -220px;
$box-blue-offset-y: -179px;
$box-blue-width: 19px;
$box-blue-height: 20px;
$box-blue-total-width: 400px;
$box-blue-total-height: 304px;
$box-blue-image: '../img/png_sprite/sprite.png';
$box-blue: (220px, 179px, -220px, -179px, 19px, 20px, 400px, 304px, '../img/png_sprite/sprite.png', 'box-blue', );
$bred-arrow-name: 'bred-arrow';
$bred-arrow-x: 397px;
$bred-arrow-y: 141px;
$bred-arrow-offset-x: -397px;
$bred-arrow-offset-y: -141px;
$bred-arrow-width: 3px;
$bred-arrow-height: 10px;
$bred-arrow-total-width: 400px;
$bred-arrow-total-height: 304px;
$bred-arrow-image: '../img/png_sprite/sprite.png';
$bred-arrow: (397px, 141px, -397px, -141px, 3px, 10px, 400px, 304px, '../img/png_sprite/sprite.png', 'bred-arrow', );
$checked-bold-name: 'checked-bold';
$checked-bold-x: 239px;
$checked-bold-y: 179px;
$checked-bold-offset-x: -239px;
$checked-bold-offset-y: -179px;
$checked-bold-width: 19px;
$checked-bold-height: 19px;
$checked-bold-total-width: 400px;
$checked-bold-total-height: 304px;
$checked-bold-image: '../img/png_sprite/sprite.png';
$checked-bold: (239px, 179px, -239px, -179px, 19px, 19px, 400px, 304px, '../img/png_sprite/sprite.png', 'checked-bold', );
$checked-name: 'checked';
$checked-x: 328px;
$checked-y: 233px;
$checked-offset-x: -328px;
$checked-offset-y: -233px;
$checked-width: 12px;
$checked-height: 9px;
$checked-total-width: 400px;
$checked-total-height: 304px;
$checked-image: '../img/png_sprite/sprite.png';
$checked: (328px, 233px, -328px, -233px, 12px, 9px, 400px, 304px, '../img/png_sprite/sprite.png', 'checked', );
$clock-name: 'clock';
$clock-x: 117px;
$clock-y: 250px;
$clock-offset-x: -117px;
$clock-offset-y: -250px;
$clock-width: 12px;
$clock-height: 12px;
$clock-total-width: 400px;
$clock-total-height: 304px;
$clock-image: '../img/png_sprite/sprite.png';
$clock: (117px, 250px, -117px, -250px, 12px, 12px, 400px, 304px, '../img/png_sprite/sprite.png', 'clock', );
$close-modal-name: 'close-modal';
$close-modal-x: 76px;
$close-modal-y: 233px;
$close-modal-offset-x: -76px;
$close-modal-offset-y: -233px;
$close-modal-width: 16px;
$close-modal-height: 16px;
$close-modal-total-width: 400px;
$close-modal-total-height: 304px;
$close-modal-image: '../img/png_sprite/sprite.png';
$close-modal: (76px, 233px, -76px, -233px, 16px, 16px, 400px, 304px, '../img/png_sprite/sprite.png', 'close-modal', );
$close-red-name: 'close-red';
$close-red-x: 105px;
$close-red-y: 250px;
$close-red-offset-x: -105px;
$close-red-offset-y: -250px;
$close-red-width: 12px;
$close-red-height: 12px;
$close-red-total-width: 400px;
$close-red-total-height: 304px;
$close-red-image: '../img/png_sprite/sprite.png';
$close-red: (105px, 250px, -105px, -250px, 12px, 12px, 400px, 304px, '../img/png_sprite/sprite.png', 'close-red', );
$dance-blue-name: 'dance-blue';
$dance-blue-x: 390px;
$dance-blue-y: 120px;
$dance-blue-offset-x: -390px;
$dance-blue-offset-y: -120px;
$dance-blue-width: 10px;
$dance-blue-height: 21px;
$dance-blue-total-width: 400px;
$dance-blue-total-height: 304px;
$dance-blue-image: '../img/png_sprite/sprite.png';
$dance-blue: (390px, 120px, -390px, -120px, 10px, 21px, 400px, 304px, '../img/png_sprite/sprite.png', 'dance-blue', );
$elect-2-name: 'elect-2';
$elect-2-x: 150px;
$elect-2-y: 100px;
$elect-2-offset-x: -150px;
$elect-2-offset-y: -100px;
$elect-2-width: 32px;
$elect-2-height: 32px;
$elect-2-total-width: 400px;
$elect-2-total-height: 304px;
$elect-2-image: '../img/png_sprite/sprite.png';
$elect-2: (150px, 100px, -150px, -100px, 32px, 32px, 400px, 304px, '../img/png_sprite/sprite.png', 'elect-2', );
$elect-name: 'elect';
$elect-x: 0px;
$elect-y: 233px;
$elect-offset-x: 0px;
$elect-offset-y: -233px;
$elect-width: 25px;
$elect-height: 32px;
$elect-total-width: 400px;
$elect-total-height: 304px;
$elect-image: '../img/png_sprite/sprite.png';
$elect: (0px, 233px, 0px, -233px, 25px, 32px, 400px, 304px, '../img/png_sprite/sprite.png', 'elect', );
$fb-big-name: 'fb-big';
$fb-big-x: 200px;
$fb-big-y: 0px;
$fb-big-offset-x: -200px;
$fb-big-offset-y: 0px;
$fb-big-width: 200px;
$fb-big-height: 40px;
$fb-big-total-width: 400px;
$fb-big-total-height: 304px;
$fb-big-image: '../img/png_sprite/sprite.png';
$fb-big: (200px, 0px, -200px, 0px, 200px, 40px, 400px, 304px, '../img/png_sprite/sprite.png', 'fb-big', );
$fb-color-name: 'fb-color';
$fb-color-x: 334px;
$fb-color-y: 154px;
$fb-color-offset-x: -334px;
$fb-color-offset-y: -154px;
$fb-color-width: 24px;
$fb-color-height: 24px;
$fb-color-total-width: 400px;
$fb-color-total-height: 304px;
$fb-color-image: '../img/png_sprite/sprite.png';
$fb-color: (334px, 154px, -334px, -154px, 24px, 24px, 400px, 304px, '../img/png_sprite/sprite.png', 'fb-color', );
$fb-name: 'fb';
$fb-x: 94px;
$fb-y: 265px;
$fb-offset-x: -94px;
$fb-offset-y: -265px;
$fb-width: 8px;
$fb-height: 15px;
$fb-total-width: 400px;
$fb-total-height: 304px;
$fb-image: '../img/png_sprite/sprite.png';
$fb: (94px, 265px, -94px, -265px, 8px, 15px, 400px, 304px, '../img/png_sprite/sprite.png', 'fb', );
$fitness-blue-name: 'fitness-blue';
$fitness-blue-x: 108px;
$fitness-blue-y: 233px;
$fitness-blue-offset-x: -108px;
$fitness-blue-offset-y: -233px;
$fitness-blue-width: 16px;
$fitness-blue-height: 16px;
$fitness-blue-total-width: 400px;
$fitness-blue-total-height: 304px;
$fitness-blue-image: '../img/png_sprite/sprite.png';
$fitness-blue: (108px, 233px, -108px, -233px, 16px, 16px, 400px, 304px, '../img/png_sprite/sprite.png', 'fitness-blue', );
$footboll-blue-name: 'footboll-blue';
$footboll-blue-x: 332px;
$footboll-blue-y: 199px;
$footboll-blue-offset-x: -332px;
$footboll-blue-offset-y: -199px;
$footboll-blue-width: 18px;
$footboll-blue-height: 18px;
$footboll-blue-total-width: 400px;
$footboll-blue-total-height: 304px;
$footboll-blue-image: '../img/png_sprite/sprite.png';
$footboll-blue: (332px, 199px, -332px, -199px, 18px, 18px, 400px, 304px, '../img/png_sprite/sprite.png', 'footboll-blue', );
$google-big-name: 'google-big';
$google-big-x: 200px;
$google-big-y: 40px;
$google-big-offset-x: -200px;
$google-big-offset-y: -40px;
$google-big-width: 200px;
$google-big-height: 40px;
$google-big-total-width: 400px;
$google-big-total-height: 304px;
$google-big-image: '../img/png_sprite/sprite.png';
$google-big: (200px, 40px, -200px, -40px, 200px, 40px, 400px, 304px, '../img/png_sprite/sprite.png', 'google-big', );
$google-color-name: 'google-color';
$google-color-x: 310px;
$google-color-y: 154px;
$google-color-offset-x: -310px;
$google-color-offset-y: -154px;
$google-color-width: 24px;
$google-color-height: 24px;
$google-color-total-width: 400px;
$google-color-total-height: 304px;
$google-color-image: '../img/png_sprite/sprite.png';
$google-color: (310px, 154px, -310px, -154px, 24px, 24px, 400px, 304px, '../img/png_sprite/sprite.png', 'google-color', );
$gray-burger-name: 'gray-burger';
$gray-burger-x: 280px;
$gray-burger-y: 233px;
$gray-burger-offset-x: -280px;
$gray-burger-offset-y: -233px;
$gray-burger-width: 16px;
$gray-burger-height: 10px;
$gray-burger-total-width: 400px;
$gray-burger-total-height: 304px;
$gray-burger-image: '../img/png_sprite/sprite.png';
$gray-burger: (280px, 233px, -280px, -233px, 16px, 10px, 400px, 304px, '../img/png_sprite/sprite.png', 'gray-burger', );
$gray-house-name: 'gray-house';
$gray-house-x: 124px;
$gray-house-y: 233px;
$gray-house-offset-x: -124px;
$gray-house-offset-y: -233px;
$gray-house-width: 16px;
$gray-house-height: 16px;
$gray-house-total-width: 400px;
$gray-house-total-height: 304px;
$gray-house-image: '../img/png_sprite/sprite.png';
$gray-house: (124px, 233px, -124px, -233px, 16px, 16px, 400px, 304px, '../img/png_sprite/sprite.png', 'gray-house', );
$gray-man-name: 'gray-man';
$gray-man-x: 0px;
$gray-man-y: 265px;
$gray-man-offset-x: 0px;
$gray-man-offset-y: -265px;
$gray-man-width: 16px;
$gray-man-height: 18px;
$gray-man-total-width: 400px;
$gray-man-total-height: 304px;
$gray-man-image: '../img/png_sprite/sprite.png';
$gray-man: (0px, 265px, 0px, -265px, 16px, 18px, 400px, 304px, '../img/png_sprite/sprite.png', 'gray-man', );
$gray-map-name: 'gray-map';
$gray-map-x: 300px;
$gray-map-y: 179px;
$gray-map-offset-x: -300px;
$gray-map-offset-y: -179px;
$gray-map-width: 18px;
$gray-map-height: 14px;
$gray-map-total-width: 400px;
$gray-map-total-height: 304px;
$gray-map-image: '../img/png_sprite/sprite.png';
$gray-map: (300px, 179px, -300px, -179px, 18px, 14px, 400px, 304px, '../img/png_sprite/sprite.png', 'gray-map', );
$gray-sale-name: 'gray-sale';
$gray-sale-x: 368px;
$gray-sale-y: 199px;
$gray-sale-offset-x: -368px;
$gray-sale-offset-y: -199px;
$gray-sale-width: 17px;
$gray-sale-height: 17px;
$gray-sale-total-width: 400px;
$gray-sale-total-height: 304px;
$gray-sale-image: '../img/png_sprite/sprite.png';
$gray-sale: (368px, 199px, -368px, -199px, 17px, 17px, 400px, 304px, '../img/png_sprite/sprite.png', 'gray-sale', );
$gym-blue-name: 'gym-blue';
$gym-blue-x: 258px;
$gym-blue-y: 179px;
$gym-blue-offset-x: -258px;
$gym-blue-offset-y: -179px;
$gym-blue-width: 21px;
$gym-blue-height: 17px;
$gym-blue-total-width: 400px;
$gym-blue-total-height: 304px;
$gym-blue-image: '../img/png_sprite/sprite.png';
$gym-blue: (258px, 179px, -258px, -179px, 21px, 17px, 400px, 304px, '../img/png_sprite/sprite.png', 'gym-blue', );
$hockey-blue-name: 'hockey-blue';
$hockey-blue-x: 183px;
$hockey-blue-y: 155px;
$hockey-blue-offset-x: -183px;
$hockey-blue-offset-y: -155px;
$hockey-blue-width: 17px;
$hockey-blue-height: 17px;
$hockey-blue-total-width: 400px;
$hockey-blue-total-height: 304px;
$hockey-blue-image: '../img/png_sprite/sprite.png';
$hockey-blue: (183px, 155px, -183px, -155px, 17px, 17px, 400px, 304px, '../img/png_sprite/sprite.png', 'hockey-blue', );
$inst-name: 'inst';
$inst-x: 39px;
$inst-y: 250px;
$inst-offset-x: -39px;
$inst-offset-y: -250px;
$inst-width: 14px;
$inst-height: 14px;
$inst-total-width: 400px;
$inst-total-height: 304px;
$inst-image: '../img/png_sprite/sprite.png';
$inst: (39px, 250px, -39px, -250px, 14px, 14px, 400px, 304px, '../img/png_sprite/sprite.png', 'inst', );
$joga-blue-name: 'joga-blue';
$joga-blue-x: 0px;
$joga-blue-y: 283px;
$joga-blue-offset-x: 0px;
$joga-blue-offset-y: -283px;
$joga-blue-width: 13px;
$joga-blue-height: 21px;
$joga-blue-total-width: 400px;
$joga-blue-total-height: 304px;
$joga-blue-image: '../img/png_sprite/sprite.png';
$joga-blue: (0px, 283px, 0px, -283px, 13px, 21px, 400px, 304px, '../img/png_sprite/sprite.png', 'joga-blue', );
$kg-name: 'kg';
$kg-x: 251px;
$kg-y: 199px;
$kg-offset-x: -251px;
$kg-offset-y: -199px;
$kg-width: 21px;
$kg-height: 24px;
$kg-total-width: 400px;
$kg-total-height: 304px;
$kg-image: '../img/png_sprite/sprite.png';
$kg: (251px, 199px, -251px, -199px, 21px, 24px, 400px, 304px, '../img/png_sprite/sprite.png', 'kg', );
$kvstr-name: 'kvstr';
$kvstr-x: 150px;
$kvstr-y: 132px;
$kvstr-offset-x: -150px;
$kvstr-offset-y: -132px;
$kvstr-width: 23px;
$kvstr-height: 22px;
$kvstr-total-width: 400px;
$kvstr-total-height: 304px;
$kvstr-image: '../img/png_sprite/sprite.png';
$kvstr: (150px, 132px, -150px, -132px, 23px, 22px, 400px, 304px, '../img/png_sprite/sprite.png', 'kvstr', );
$label-name: 'label';
$label-x: 99px;
$label-y: 100px;
$label-offset-x: -99px;
$label-offset-y: -100px;
$label-width: 51px;
$label-height: 55px;
$label-total-width: 400px;
$label-total-height: 304px;
$label-image: '../img/png_sprite/sprite.png';
$label: (99px, 100px, -99px, -100px, 51px, 55px, 400px, 304px, '../img/png_sprite/sprite.png', 'label', );
$left-quote-name: 'left-quote';
$left-quote-x: 354px;
$left-quote-y: 179px;
$left-quote-offset-x: -354px;
$left-quote-offset-y: -179px;
$left-quote-width: 19px;
$left-quote-height: 13px;
$left-quote-total-width: 400px;
$left-quote-total-height: 304px;
$left-quote-image: '../img/png_sprite/sprite.png';
$left-quote: (354px, 179px, -354px, -179px, 19px, 13px, 400px, 304px, '../img/png_sprite/sprite.png', 'left-quote', );
$log-out-name: 'log-out';
$log-out-x: 172px;
$log-out-y: 233px;
$log-out-offset-x: -172px;
$log-out-offset-y: -233px;
$log-out-width: 16px;
$log-out-height: 16px;
$log-out-total-width: 400px;
$log-out-total-height: 304px;
$log-out-image: '../img/png_sprite/sprite.png';
$log-out: (172px, 233px, -172px, -233px, 16px, 16px, 400px, 304px, '../img/png_sprite/sprite.png', 'log-out', );
$mail-flag-name: 'mail-flag';
$mail-flag-x: 99px;
$mail-flag-y: 155px;
$mail-flag-offset-x: -99px;
$mail-flag-offset-y: -155px;
$mail-flag-width: 28px;
$mail-flag-height: 36px;
$mail-flag-total-width: 400px;
$mail-flag-total-height: 304px;
$mail-flag-image: '../img/png_sprite/sprite.png';
$mail-flag: (99px, 155px, -99px, -155px, 28px, 36px, 400px, 304px, '../img/png_sprite/sprite.png', 'mail-flag', );
$mail-white-name: 'mail-white';
$mail-white-x: 183px;
$mail-white-y: 172px;
$mail-white-offset-x: -183px;
$mail-white-offset-y: -172px;
$mail-white-width: 16px;
$mail-white-height: 11px;
$mail-white-total-width: 400px;
$mail-white-total-height: 304px;
$mail-white-image: '../img/png_sprite/sprite.png';
$mail-white: (183px, 172px, -183px, -172px, 16px, 11px, 400px, 304px, '../img/png_sprite/sprite.png', 'mail-white', );
$mail-name: 'mail';
$mail-x: 264px;
$mail-y: 233px;
$mail-offset-x: -264px;
$mail-offset-y: -233px;
$mail-width: 16px;
$mail-height: 11px;
$mail-total-width: 400px;
$mail-total-height: 304px;
$mail-image: '../img/png_sprite/sprite.png';
$mail: (264px, 233px, -264px, -233px, 16px, 11px, 400px, 304px, '../img/png_sprite/sprite.png', 'mail', );
$map-picker-name: 'map-picker';
$map-picker-x: 13px;
$map-picker-y: 283px;
$map-picker-offset-x: -13px;
$map-picker-offset-y: -283px;
$map-picker-width: 12px;
$map-picker-height: 16px;
$map-picker-total-width: 400px;
$map-picker-total-height: 304px;
$map-picker-image: '../img/png_sprite/sprite.png';
$map-picker: (13px, 283px, -13px, -283px, 12px, 16px, 400px, 304px, '../img/png_sprite/sprite.png', 'map-picker', );
$menu-book-name: 'menu-book';
$menu-book-x: 313px;
$menu-book-y: 199px;
$menu-book-offset-x: -313px;
$menu-book-offset-y: -199px;
$menu-book-width: 19px;
$menu-book-height: 18px;
$menu-book-total-width: 400px;
$menu-book-total-height: 304px;
$menu-book-image: '../img/png_sprite/sprite.png';
$menu-book: (313px, 199px, -313px, -199px, 19px, 18px, 400px, 304px, '../img/png_sprite/sprite.png', 'menu-book', );
$menu-burger-name: 'menu-burger';
$menu-burger-x: 312px;
$menu-burger-y: 233px;
$menu-burger-offset-x: -312px;
$menu-burger-offset-y: -233px;
$menu-burger-width: 16px;
$menu-burger-height: 10px;
$menu-burger-total-width: 400px;
$menu-burger-total-height: 304px;
$menu-burger-image: '../img/png_sprite/sprite.png';
$menu-burger: (312px, 233px, -312px, -233px, 16px, 10px, 400px, 304px, '../img/png_sprite/sprite.png', 'menu-burger', );
$menu-house-name: 'menu-house';
$menu-house-x: 156px;
$menu-house-y: 233px;
$menu-house-offset-x: -156px;
$menu-house-offset-y: -233px;
$menu-house-width: 16px;
$menu-house-height: 16px;
$menu-house-total-width: 400px;
$menu-house-total-height: 304px;
$menu-house-image: '../img/png_sprite/sprite.png';
$menu-house: (156px, 233px, -156px, -233px, 16px, 16px, 400px, 304px, '../img/png_sprite/sprite.png', 'menu-house', );
$menu-man-name: 'menu-man';
$menu-man-x: 32px;
$menu-man-y: 265px;
$menu-man-offset-x: -32px;
$menu-man-offset-y: -265px;
$menu-man-width: 16px;
$menu-man-height: 18px;
$menu-man-total-width: 400px;
$menu-man-total-height: 304px;
$menu-man-image: '../img/png_sprite/sprite.png';
$menu-man: (32px, 265px, -32px, -265px, 16px, 18px, 400px, 304px, '../img/png_sprite/sprite.png', 'menu-man', );
$menu-map-name: 'menu-map';
$menu-map-x: 318px;
$menu-map-y: 179px;
$menu-map-offset-x: -318px;
$menu-map-offset-y: -179px;
$menu-map-width: 18px;
$menu-map-height: 14px;
$menu-map-total-width: 400px;
$menu-map-total-height: 304px;
$menu-map-image: '../img/png_sprite/sprite.png';
$menu-map: (318px, 179px, -318px, -179px, 18px, 14px, 400px, 304px, '../img/png_sprite/sprite.png', 'menu-map', );
$menu-sale-name: 'menu-sale';
$menu-sale-x: 59px;
$menu-sale-y: 233px;
$menu-sale-offset-x: -59px;
$menu-sale-offset-y: -233px;
$menu-sale-width: 17px;
$menu-sale-height: 17px;
$menu-sale-total-width: 400px;
$menu-sale-total-height: 304px;
$menu-sale-image: '../img/png_sprite/sprite.png';
$menu-sale: (59px, 233px, -59px, -233px, 17px, 17px, 400px, 304px, '../img/png_sprite/sprite.png', 'menu-sale', );
$ok-color-name: 'ok-color';
$ok-color-x: 286px;
$ok-color-y: 154px;
$ok-color-offset-x: -286px;
$ok-color-offset-y: -154px;
$ok-color-width: 24px;
$ok-color-height: 24px;
$ok-color-total-width: 400px;
$ok-color-total-height: 304px;
$ok-color-image: '../img/png_sprite/sprite.png';
$ok-color: (286px, 154px, -286px, -154px, 24px, 24px, 400px, 304px, '../img/png_sprite/sprite.png', 'ok-color', );
$ok-name: 'ok';
$ok-x: 85px;
$ok-y: 265px;
$ok-offset-x: -85px;
$ok-offset-y: -265px;
$ok-width: 9px;
$ok-height: 15px;
$ok-total-width: 400px;
$ok-total-height: 304px;
$ok-image: '../img/png_sprite/sprite.png';
$ok: (85px, 265px, -85px, -265px, 9px, 15px, 400px, 304px, '../img/png_sprite/sprite.png', 'ok', );
$phone-name: 'phone';
$phone-x: 200px;
$phone-y: 179px;
$phone-offset-x: -200px;
$phone-offset-y: -179px;
$phone-width: 20px;
$phone-height: 20px;
$phone-total-width: 400px;
$phone-total-height: 304px;
$phone-image: '../img/png_sprite/sprite.png';
$phone: (200px, 179px, -200px, -179px, 20px, 20px, 400px, 304px, '../img/png_sprite/sprite.png', 'phone', );
$plus-name: 'plus';
$plus-x: 81px;
$plus-y: 250px;
$plus-offset-x: -81px;
$plus-offset-y: -250px;
$plus-width: 12px;
$plus-height: 12px;
$plus-total-width: 400px;
$plus-total-height: 304px;
$plus-image: '../img/png_sprite/sprite.png';
$plus: (81px, 250px, -81px, -250px, 12px, 12px, 400px, 304px, '../img/png_sprite/sprite.png', 'plus', );
$question-name: 'question';
$question-x: 260px;
$question-y: 154px;
$question-offset-x: -260px;
$question-offset-y: -154px;
$question-width: 26px;
$question-height: 24px;
$question-total-width: 400px;
$question-total-height: 304px;
$question-image: '../img/png_sprite/sprite.png';
$question: (260px, 154px, -260px, -154px, 26px, 24px, 400px, 304px, '../img/png_sprite/sprite.png', 'question', );
$red-heart-name: 'red-heart';
$red-heart-x: 67px;
$red-heart-y: 250px;
$red-heart-offset-x: -67px;
$red-heart-offset-y: -250px;
$red-heart-width: 14px;
$red-heart-height: 12px;
$red-heart-total-width: 400px;
$red-heart-total-height: 304px;
$red-heart-image: '../img/png_sprite/sprite.png';
$red-heart: (67px, 250px, -67px, -250px, 14px, 12px, 400px, 304px, '../img/png_sprite/sprite.png', 'red-heart', );
$return-name: 'return';
$return-x: 182px;
$return-y: 118px;
$return-offset-x: -182px;
$return-offset-y: -118px;
$return-width: 16px;
$return-height: 14px;
$return-total-width: 400px;
$return-total-height: 304px;
$return-image: '../img/png_sprite/sprite.png';
$return: (182px, 118px, -182px, -118px, 16px, 14px, 400px, 304px, '../img/png_sprite/sprite.png', 'return', );
$reviews-label-2-name: 'reviews-label-2';
$reviews-label-2-x: 356px;
$reviews-label-2-y: 120px;
$reviews-label-2-offset-x: -356px;
$reviews-label-2-offset-y: -120px;
$reviews-label-2-width: 34px;
$reviews-label-2-height: 32px;
$reviews-label-2-total-width: 400px;
$reviews-label-2-total-height: 304px;
$reviews-label-2-image: '../img/png_sprite/sprite.png';
$reviews-label-2: (356px, 120px, -356px, -120px, 34px, 32px, 400px, 304px, '../img/png_sprite/sprite.png', 'reviews-label-2', );
$reviews-label-name: 'reviews-label';
$reviews-label-x: 182px;
$reviews-label-y: 100px;
$reviews-label-offset-x: -182px;
$reviews-label-offset-y: -100px;
$reviews-label-width: 18px;
$reviews-label-height: 18px;
$reviews-label-total-width: 400px;
$reviews-label-total-height: 304px;
$reviews-label-image: '../img/png_sprite/sprite.png';
$reviews-label: (182px, 100px, -182px, -100px, 18px, 18px, 400px, 304px, '../img/png_sprite/sprite.png', 'reviews-label', );
$scroll-name: 'scroll';
$scroll-x: 393px;
$scroll-y: 179px;
$scroll-offset-x: -393px;
$scroll-offset-y: -179px;
$scroll-width: 5px;
$scroll-height: 5px;
$scroll-total-width: 400px;
$scroll-total-height: 304px;
$scroll-image: '../img/png_sprite/sprite.png';
$scroll: (393px, 179px, -393px, -179px, 5px, 5px, 400px, 304px, '../img/png_sprite/sprite.png', 'scroll', );
$search-name: 'search';
$search-x: 140px;
$search-y: 233px;
$search-offset-x: -140px;
$search-offset-y: -233px;
$search-width: 16px;
$search-height: 16px;
$search-total-width: 400px;
$search-total-height: 304px;
$search-image: '../img/png_sprite/sprite.png';
$search: (140px, 233px, -140px, -233px, 16px, 16px, 400px, 304px, '../img/png_sprite/sprite.png', 'search', );
$select-burger-name: 'select-burger';
$select-burger-x: 224px;
$select-burger-y: 233px;
$select-burger-offset-x: -224px;
$select-burger-offset-y: -233px;
$select-burger-width: 20px;
$select-burger-height: 12px;
$select-burger-total-width: 400px;
$select-burger-total-height: 304px;
$select-burger-image: '../img/png_sprite/sprite.png';
$select-burger: (224px, 233px, -224px, -233px, 20px, 12px, 400px, 304px, '../img/png_sprite/sprite.png', 'select-burger', );
$slider-left-arrow-name: 'slider-left-arrow';
$slider-left-arrow-x: 53px;
$slider-left-arrow-y: 250px;
$slider-left-arrow-offset-x: -53px;
$slider-left-arrow-offset-y: -250px;
$slider-left-arrow-width: 14px;
$slider-left-arrow-height: 14px;
$slider-left-arrow-total-width: 400px;
$slider-left-arrow-total-height: 304px;
$slider-left-arrow-image: '../img/png_sprite/sprite.png';
$slider-left-arrow: (53px, 250px, -53px, -250px, 14px, 14px, 400px, 304px, '../img/png_sprite/sprite.png', 'slider-left-arrow', );
$slider-right-arrow-name: 'slider-right-arrow';
$slider-right-arrow-x: 25px;
$slider-right-arrow-y: 250px;
$slider-right-arrow-offset-x: -25px;
$slider-right-arrow-offset-y: -250px;
$slider-right-arrow-width: 14px;
$slider-right-arrow-height: 14px;
$slider-right-arrow-total-width: 400px;
$slider-right-arrow-total-height: 304px;
$slider-right-arrow-image: '../img/png_sprite/sprite.png';
$slider-right-arrow: (25px, 250px, -25px, -250px, 14px, 14px, 400px, 304px, '../img/png_sprite/sprite.png', 'slider-right-arrow', );
$small-yellow-eye-name: 'small-yellow-eye';
$small-yellow-eye-x: 373px;
$small-yellow-eye-y: 179px;
$small-yellow-eye-offset-x: -373px;
$small-yellow-eye-offset-y: -179px;
$small-yellow-eye-width: 20px;
$small-yellow-eye-height: 12px;
$small-yellow-eye-total-width: 400px;
$small-yellow-eye-total-height: 304px;
$small-yellow-eye-image: '../img/png_sprite/sprite.png';
$small-yellow-eye: (373px, 179px, -373px, -179px, 20px, 12px, 400px, 304px, '../img/png_sprite/sprite.png', 'small-yellow-eye', );
$small-yellow-picker-name: 'small-yellow-picker';
$small-yellow-picker-x: 62px;
$small-yellow-picker-y: 265px;
$small-yellow-picker-offset-x: -62px;
$small-yellow-picker-offset-y: -265px;
$small-yellow-picker-width: 13px;
$small-yellow-picker-height: 15px;
$small-yellow-picker-total-width: 400px;
$small-yellow-picker-total-height: 304px;
$small-yellow-picker-image: '../img/png_sprite/sprite.png';
$small-yellow-picker: (62px, 265px, -62px, -265px, 13px, 15px, 400px, 304px, '../img/png_sprite/sprite.png', 'small-yellow-picker', );
$star-marker-name: 'star-marker';
$star-marker-x: 127px;
$star-marker-y: 155px;
$star-marker-offset-x: -127px;
$star-marker-offset-y: -155px;
$star-marker-width: 27px;
$star-marker-height: 32px;
$star-marker-total-width: 400px;
$star-marker-total-height: 304px;
$star-marker-image: '../img/png_sprite/sprite.png';
$star-marker: (127px, 155px, -127px, -155px, 27px, 32px, 400px, 304px, '../img/png_sprite/sprite.png', 'star-marker', );
$statistic-name: 'statistic';
$statistic-x: 382px;
$statistic-y: 154px;
$statistic-offset-x: -382px;
$statistic-offset-y: -154px;
$statistic-width: 18px;
$statistic-height: 20px;
$statistic-total-width: 400px;
$statistic-total-height: 304px;
$statistic-image: '../img/png_sprite/sprite.png';
$statistic: (382px, 154px, -382px, -154px, 18px, 20px, 400px, 304px, '../img/png_sprite/sprite.png', 'statistic', );
$sticker-empty-name: 'sticker-empty';
$sticker-empty-x: 100px;
$sticker-empty-y: 0px;
$sticker-empty-offset-x: -100px;
$sticker-empty-offset-y: 0px;
$sticker-empty-width: 100px;
$sticker-empty-height: 100px;
$sticker-empty-total-width: 400px;
$sticker-empty-total-height: 304px;
$sticker-empty-image: '../img/png_sprite/sprite.png';
$sticker-empty: (100px, 0px, -100px, 0px, 100px, 100px, 400px, 304px, '../img/png_sprite/sprite.png', 'sticker-empty', );
$sticker-sale-flag-name: 'sticker-sale-flag';
$sticker-sale-flag-x: 200px;
$sticker-sale-flag-y: 120px;
$sticker-sale-flag-offset-x: -200px;
$sticker-sale-flag-offset-y: -120px;
$sticker-sale-flag-width: 60px;
$sticker-sale-flag-height: 59px;
$sticker-sale-flag-total-width: 400px;
$sticker-sale-flag-total-height: 304px;
$sticker-sale-flag-image: '../img/png_sprite/sprite.png';
$sticker-sale-flag: (200px, 120px, -200px, -120px, 60px, 59px, 400px, 304px, '../img/png_sprite/sprite.png', 'sticker-sale-flag', );
$sticker-sale-name: 'sticker-sale';
$sticker-sale-x: 0px;
$sticker-sale-y: 100px;
$sticker-sale-offset-x: 0px;
$sticker-sale-offset-y: -100px;
$sticker-sale-width: 99px;
$sticker-sale-height: 99px;
$sticker-sale-total-width: 400px;
$sticker-sale-total-height: 304px;
$sticker-sale-image: '../img/png_sprite/sprite.png';
$sticker-sale: (0px, 100px, 0px, -100px, 99px, 99px, 400px, 304px, '../img/png_sprite/sprite.png', 'sticker-sale', );
$sticker-top-name: 'sticker-top';
$sticker-top-x: 0px;
$sticker-top-y: 0px;
$sticker-top-offset-x: 0px;
$sticker-top-offset-y: 0px;
$sticker-top-width: 100px;
$sticker-top-height: 100px;
$sticker-top-total-width: 400px;
$sticker-top-total-height: 304px;
$sticker-top-image: '../img/png_sprite/sprite.png';
$sticker-top: (0px, 0px, 0px, 0px, 100px, 100px, 400px, 304px, '../img/png_sprite/sprite.png', 'sticker-top', );
$sticker-name: 'sticker';
$sticker-x: 260px;
$sticker-y: 120px;
$sticker-offset-x: -260px;
$sticker-offset-y: -120px;
$sticker-width: 96px;
$sticker-height: 34px;
$sticker-total-width: 400px;
$sticker-total-height: 304px;
$sticker-image: '../img/png_sprite/sprite.png';
$sticker: (260px, 120px, -260px, -120px, 96px, 34px, 400px, 304px, '../img/png_sprite/sprite.png', 'sticker', );
$stock-action-name: 'stock-action';
$stock-action-x: 0px;
$stock-action-y: 199px;
$stock-action-offset-x: 0px;
$stock-action-offset-y: -199px;
$stock-action-width: 221px;
$stock-action-height: 34px;
$stock-action-total-width: 400px;
$stock-action-total-height: 304px;
$stock-action-image: '../img/png_sprite/sprite.png';
$stock-action: (0px, 199px, 0px, -199px, 221px, 34px, 400px, 304px, '../img/png_sprite/sprite.png', 'stock-action', );
$swim-blue-name: 'swim-blue';
$swim-blue-x: 279px;
$swim-blue-y: 179px;
$swim-blue-offset-x: -279px;
$swim-blue-offset-y: -179px;
$swim-blue-width: 21px;
$swim-blue-height: 14px;
$swim-blue-total-width: 400px;
$swim-blue-total-height: 304px;
$swim-blue-image: '../img/png_sprite/sprite.png';
$swim-blue: (279px, 179px, -279px, -179px, 21px, 14px, 400px, 304px, '../img/png_sprite/sprite.png', 'swim-blue', );
$tennis-blue-name: 'tennis-blue';
$tennis-blue-x: 350px;
$tennis-blue-y: 199px;
$tennis-blue-offset-x: -350px;
$tennis-blue-offset-y: -199px;
$tennis-blue-width: 18px;
$tennis-blue-height: 18px;
$tennis-blue-total-width: 400px;
$tennis-blue-total-height: 304px;
$tennis-blue-image: '../img/png_sprite/sprite.png';
$tennis-blue: (350px, 199px, -350px, -199px, 18px, 18px, 400px, 304px, '../img/png_sprite/sprite.png', 'tennis-blue', );
$tip-name: 'tip';
$tip-x: 221px;
$tip-y: 199px;
$tip-offset-x: -221px;
$tip-offset-y: -199px;
$tip-width: 30px;
$tip-height: 28px;
$tip-total-width: 400px;
$tip-total-height: 304px;
$tip-image: '../img/png_sprite/sprite.png';
$tip: (221px, 199px, -221px, -199px, 30px, 28px, 400px, 304px, '../img/png_sprite/sprite.png', 'tip', );
$trainer-name: 'trainer';
$trainer-x: 385px;
$trainer-y: 199px;
$trainer-offset-x: -385px;
$trainer-offset-y: -199px;
$trainer-width: 15px;
$trainer-height: 15px;
$trainer-total-width: 400px;
$trainer-total-height: 304px;
$trainer-image: '../img/png_sprite/sprite.png';
$trainer: (385px, 199px, -385px, -199px, 15px, 15px, 400px, 304px, '../img/png_sprite/sprite.png', 'trainer', );
$user-icon-name: 'user-icon';
$user-icon-x: 154px;
$user-icon-y: 155px;
$user-icon-offset-x: -154px;
$user-icon-offset-y: -155px;
$user-icon-width: 29px;
$user-icon-height: 29px;
$user-icon-total-width: 400px;
$user-icon-total-height: 304px;
$user-icon-image: '../img/png_sprite/sprite.png';
$user-icon: (154px, 155px, -154px, -155px, 29px, 29px, 400px, 304px, '../img/png_sprite/sprite.png', 'user-icon', );
$user-white-name: 'user-white';
$user-white-x: 93px;
$user-white-y: 250px;
$user-white-offset-x: -93px;
$user-white-offset-y: -250px;
$user-white-width: 12px;
$user-white-height: 12px;
$user-white-total-width: 400px;
$user-white-total-height: 304px;
$user-white-image: '../img/png_sprite/sprite.png';
$user-white: (93px, 250px, -93px, -250px, 12px, 12px, 400px, 304px, '../img/png_sprite/sprite.png', 'user-white', );
$vall-blue-name: 'vall-blue';
$vall-blue-x: 25px;
$vall-blue-y: 233px;
$vall-blue-offset-x: -25px;
$vall-blue-offset-y: -233px;
$vall-blue-width: 17px;
$vall-blue-height: 17px;
$vall-blue-total-width: 400px;
$vall-blue-total-height: 304px;
$vall-blue-image: '../img/png_sprite/sprite.png';
$vall-blue: (25px, 233px, -25px, -233px, 17px, 17px, 400px, 304px, '../img/png_sprite/sprite.png', 'vall-blue', );
$vd-phone-name: 'vd-phone';
$vd-phone-x: 173px;
$vd-phone-y: 132px;
$vd-phone-offset-x: -173px;
$vd-phone-offset-y: -132px;
$vd-phone-width: 22px;
$vd-phone-height: 22px;
$vd-phone-total-width: 400px;
$vd-phone-total-height: 304px;
$vd-phone-image: '../img/png_sprite/sprite.png';
$vd-phone: (173px, 132px, -173px, -132px, 22px, 22px, 400px, 304px, '../img/png_sprite/sprite.png', 'vd-phone', );
$vk-big-name: 'vk-big';
$vk-big-x: 200px;
$vk-big-y: 80px;
$vk-big-offset-x: -200px;
$vk-big-offset-y: -80px;
$vk-big-width: 200px;
$vk-big-height: 40px;
$vk-big-total-width: 400px;
$vk-big-total-height: 304px;
$vk-big-image: '../img/png_sprite/sprite.png';
$vk-big: (200px, 80px, -200px, -80px, 200px, 40px, 400px, 304px, '../img/png_sprite/sprite.png', 'vk-big', );
$vk-color-name: 'vk-color';
$vk-color-x: 358px;
$vk-color-y: 154px;
$vk-color-offset-x: -358px;
$vk-color-offset-y: -154px;
$vk-color-width: 24px;
$vk-color-height: 24px;
$vk-color-total-width: 400px;
$vk-color-total-height: 304px;
$vk-color-image: '../img/png_sprite/sprite.png';
$vk-color: (358px, 154px, -358px, -154px, 24px, 24px, 400px, 304px, '../img/png_sprite/sprite.png', 'vk-color', );
$vk-name: 'vk';
$vk-x: 244px;
$vk-y: 233px;
$vk-offset-x: -244px;
$vk-offset-y: -233px;
$vk-width: 20px;
$vk-height: 12px;
$vk-total-width: 400px;
$vk-total-height: 304px;
$vk-image: '../img/png_sprite/sprite.png';
$vk: (244px, 233px, -244px, -233px, 20px, 12px, 400px, 304px, '../img/png_sprite/sprite.png', 'vk', );
$white-plus-name: 'white-plus';
$white-plus-x: 129px;
$white-plus-y: 250px;
$white-plus-offset-x: -129px;
$white-plus-offset-y: -250px;
$white-plus-width: 12px;
$white-plus-height: 12px;
$white-plus-total-width: 400px;
$white-plus-total-height: 304px;
$white-plus-image: '../img/png_sprite/sprite.png';
$white-plus: (129px, 250px, -129px, -250px, 12px, 12px, 400px, 304px, '../img/png_sprite/sprite.png', 'white-plus', );
$spritesheet-width: 400px;
$spritesheet-height: 304px;
$spritesheet-image: '../img/png_sprite/sprite.png';
$spritesheet-sprites: ($all-lines, $arrow-right-blue-big, $arrow-right-blue, $arrow-white, $arrow, $b-line, $blue-book, $blue-burger, $blue-house, $blue-man, $blue-map, $blue-picker, $blue-sale, $blue-select-burger, $box-blue, $bred-arrow, $checked-bold, $checked, $clock, $close-modal, $close-red, $dance-blue, $elect-2, $elect, $fb-big, $fb-color, $fb, $fitness-blue, $footboll-blue, $google-big, $google-color, $gray-burger, $gray-house, $gray-man, $gray-map, $gray-sale, $gym-blue, $hockey-blue, $inst, $joga-blue, $kg, $kvstr, $label, $left-quote, $log-out, $mail-flag, $mail-white, $mail, $map-picker, $menu-book, $menu-burger, $menu-house, $menu-man, $menu-map, $menu-sale, $ok-color, $ok, $phone, $plus, $question, $red-heart, $return, $reviews-label-2, $reviews-label, $scroll, $search, $select-burger, $slider-left-arrow, $slider-right-arrow, $small-yellow-eye, $small-yellow-picker, $star-marker, $statistic, $sticker-empty, $sticker-sale-flag, $sticker-sale, $sticker-top, $sticker, $stock-action, $swim-blue, $tennis-blue, $tip, $trainer, $user-icon, $user-white, $vall-blue, $vd-phone, $vk-big, $vk-color, $vk, $white-plus, );
$spritesheet: (400px, 304px, '../img/png_sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
