// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$all-lines-name: 'all-lines';
$all-lines-x: 311px;
$all-lines-y: 172px;
$all-lines-offset-x: -311px;
$all-lines-offset-y: -172px;
$all-lines-width: 16px;
$all-lines-height: 16px;
$all-lines-total-width: 399px;
$all-lines-total-height: 283px;
$all-lines-image: '../img/png_sprite/sprite.png';
$all-lines: (311px, 172px, -311px, -172px, 16px, 16px, 399px, 283px, '../img/png_sprite/sprite.png', 'all-lines', );
$arrow-right-blue-name: 'arrow-right-blue';
$arrow-right-blue-x: 392px;
$arrow-right-blue-y: 80px;
$arrow-right-blue-offset-x: -392px;
$arrow-right-blue-offset-y: -80px;
$arrow-right-blue-width: 7px;
$arrow-right-blue-height: 11px;
$arrow-right-blue-total-width: 399px;
$arrow-right-blue-total-height: 283px;
$arrow-right-blue-image: '../img/png_sprite/sprite.png';
$arrow-right-blue: (392px, 80px, -392px, -80px, 7px, 11px, 399px, 283px, '../img/png_sprite/sprite.png', 'arrow-right-blue', );
$arrow-white-name: 'arrow-white';
$arrow-white-x: 208px;
$arrow-white-y: 134px;
$arrow-white-offset-x: -208px;
$arrow-white-offset-y: -134px;
$arrow-white-width: 8px;
$arrow-white-height: 5px;
$arrow-white-total-width: 399px;
$arrow-white-total-height: 283px;
$arrow-white-image: '../img/png_sprite/sprite.png';
$arrow-white: (208px, 134px, -208px, -134px, 8px, 5px, 399px, 283px, '../img/png_sprite/sprite.png', 'arrow-white', );
$arrow-name: 'arrow';
$arrow-x: 200px;
$arrow-y: 134px;
$arrow-offset-x: -200px;
$arrow-offset-y: -134px;
$arrow-width: 8px;
$arrow-height: 5px;
$arrow-total-width: 399px;
$arrow-total-height: 283px;
$arrow-image: '../img/png_sprite/sprite.png';
$arrow: (200px, 134px, -200px, -134px, 8px, 5px, 399px, 283px, '../img/png_sprite/sprite.png', 'arrow', );
$b-line-name: 'b-line';
$b-line-x: 96px;
$b-line-y: 172px;
$b-line-offset-x: -96px;
$b-line-offset-y: -172px;
$b-line-width: 22px;
$b-line-height: 21px;
$b-line-total-width: 399px;
$b-line-total-height: 283px;
$b-line-image: '../img/png_sprite/sprite.png';
$b-line: (96px, 172px, -96px, -172px, 22px, 21px, 399px, 283px, '../img/png_sprite/sprite.png', 'b-line', );
$ball-name: 'ball';
$ball-x: 51px;
$ball-y: 140px;
$ball-offset-x: -51px;
$ball-offset-y: -140px;
$ball-width: 32px;
$ball-height: 32px;
$ball-total-width: 399px;
$ball-total-height: 283px;
$ball-image: '../img/png_sprite/sprite.png';
$ball: (51px, 140px, -51px, -140px, 32px, 32px, 399px, 283px, '../img/png_sprite/sprite.png', 'ball', );
$blue-book-name: 'blue-book';
$blue-book-x: 155px;
$blue-book-y: 172px;
$blue-book-offset-x: -155px;
$blue-book-offset-y: -172px;
$blue-book-width: 19px;
$blue-book-height: 18px;
$blue-book-total-width: 399px;
$blue-book-total-height: 283px;
$blue-book-image: '../img/png_sprite/sprite.png';
$blue-book: (155px, 172px, -155px, -172px, 19px, 18px, 399px, 283px, '../img/png_sprite/sprite.png', 'blue-book', );
$blue-burger-name: 'blue-burger';
$blue-burger-x: 293px;
$blue-burger-y: 195px;
$blue-burger-offset-x: -293px;
$blue-burger-offset-y: -195px;
$blue-burger-width: 16px;
$blue-burger-height: 10px;
$blue-burger-total-width: 399px;
$blue-burger-total-height: 283px;
$blue-burger-image: '../img/png_sprite/sprite.png';
$blue-burger: (293px, 195px, -293px, -195px, 16px, 10px, 399px, 283px, '../img/png_sprite/sprite.png', 'blue-burger', );
$blue-house-name: 'blue-house';
$blue-house-x: 189px;
$blue-house-y: 195px;
$blue-house-offset-x: -189px;
$blue-house-offset-y: -195px;
$blue-house-width: 16px;
$blue-house-height: 16px;
$blue-house-total-width: 399px;
$blue-house-total-height: 283px;
$blue-house-image: '../img/png_sprite/sprite.png';
$blue-house: (189px, 195px, -189px, -195px, 16px, 16px, 399px, 283px, '../img/png_sprite/sprite.png', 'blue-house', );
$blue-man-name: 'blue-man';
$blue-man-x: 125px;
$blue-man-y: 195px;
$blue-man-offset-x: -125px;
$blue-man-offset-y: -195px;
$blue-man-width: 16px;
$blue-man-height: 18px;
$blue-man-total-width: 399px;
$blue-man-total-height: 283px;
$blue-man-image: '../img/png_sprite/sprite.png';
$blue-man: (125px, 195px, -125px, -195px, 16px, 18px, 399px, 283px, '../img/png_sprite/sprite.png', 'blue-man', );
$blue-map-name: 'blue-map';
$blue-map-x: 335px;
$blue-map-y: 80px;
$blue-map-offset-x: -335px;
$blue-map-offset-y: -80px;
$blue-map-width: 18px;
$blue-map-height: 14px;
$blue-map-total-width: 399px;
$blue-map-total-height: 283px;
$blue-map-image: '../img/png_sprite/sprite.png';
$blue-map: (335px, 80px, -335px, -80px, 18px, 14px, 399px, 283px, '../img/png_sprite/sprite.png', 'blue-map', );
$blue-picker-name: 'blue-picker';
$blue-picker-x: 13px;
$blue-picker-y: 231px;
$blue-picker-offset-x: -13px;
$blue-picker-offset-y: -231px;
$blue-picker-width: 14px;
$blue-picker-height: 18px;
$blue-picker-total-width: 399px;
$blue-picker-total-height: 283px;
$blue-picker-image: '../img/png_sprite/sprite.png';
$blue-picker: (13px, 231px, -13px, -231px, 14px, 18px, 399px, 283px, '../img/png_sprite/sprite.png', 'blue-picker', );
$blue-sale-name: 'blue-sale';
$blue-sale-x: 278px;
$blue-sale-y: 172px;
$blue-sale-offset-x: -278px;
$blue-sale-offset-y: -172px;
$blue-sale-width: 17px;
$blue-sale-height: 17px;
$blue-sale-total-width: 399px;
$blue-sale-total-height: 283px;
$blue-sale-image: '../img/png_sprite/sprite.png';
$blue-sale: (278px, 172px, -278px, -172px, 17px, 17px, 399px, 283px, '../img/png_sprite/sprite.png', 'blue-sale', );
$box-blue-name: 'box-blue';
$box-blue-x: 219px;
$box-blue-y: 80px;
$box-blue-offset-x: -219px;
$box-blue-offset-y: -80px;
$box-blue-width: 19px;
$box-blue-height: 20px;
$box-blue-total-width: 399px;
$box-blue-total-height: 283px;
$box-blue-image: '../img/png_sprite/sprite.png';
$box-blue: (219px, 80px, -219px, -80px, 19px, 20px, 399px, 283px, '../img/png_sprite/sprite.png', 'box-blue', );
$boxing-name: 'boxing';
$boxing-x: 296px;
$boxing-y: 100px;
$boxing-offset-x: -296px;
$boxing-offset-y: -100px;
$boxing-width: 32px;
$boxing-height: 32px;
$boxing-total-width: 399px;
$boxing-total-height: 283px;
$boxing-image: '../img/png_sprite/sprite.png';
$boxing: (296px, 100px, -296px, -100px, 32px, 32px, 399px, 283px, '../img/png_sprite/sprite.png', 'boxing', );
$bred-arrow-name: 'bred-arrow';
$bred-arrow-x: 392px;
$bred-arrow-y: 100px;
$bred-arrow-offset-x: -392px;
$bred-arrow-offset-y: -100px;
$bred-arrow-width: 3px;
$bred-arrow-height: 10px;
$bred-arrow-total-width: 399px;
$bred-arrow-total-height: 283px;
$bred-arrow-image: '../img/png_sprite/sprite.png';
$bred-arrow: (392px, 100px, -392px, -100px, 3px, 10px, 399px, 283px, '../img/png_sprite/sprite.png', 'bred-arrow', );
$buddhist-yoga-pose-name: 'buddhist-yoga-pose';
$buddhist-yoga-pose-x: 360px;
$buddhist-yoga-pose-y: 100px;
$buddhist-yoga-pose-offset-x: -360px;
$buddhist-yoga-pose-offset-y: -100px;
$buddhist-yoga-pose-width: 32px;
$buddhist-yoga-pose-height: 32px;
$buddhist-yoga-pose-total-width: 399px;
$buddhist-yoga-pose-total-height: 283px;
$buddhist-yoga-pose-image: '../img/png_sprite/sprite.png';
$buddhist-yoga-pose: (360px, 100px, -360px, -100px, 32px, 32px, 399px, 283px, '../img/png_sprite/sprite.png', 'buddhist-yoga-pose', );
$checked-bold-name: 'checked-bold';
$checked-bold-x: 238px;
$checked-bold-y: 80px;
$checked-bold-offset-x: -238px;
$checked-bold-offset-y: -80px;
$checked-bold-width: 19px;
$checked-bold-height: 19px;
$checked-bold-total-width: 399px;
$checked-bold-total-height: 283px;
$checked-bold-image: '../img/png_sprite/sprite.png';
$checked-bold: (238px, 80px, -238px, -80px, 19px, 19px, 399px, 283px, '../img/png_sprite/sprite.png', 'checked-bold', );
$checked-name: 'checked';
$checked-x: 309px;
$checked-y: 195px;
$checked-offset-x: -309px;
$checked-offset-y: -195px;
$checked-width: 12px;
$checked-height: 9px;
$checked-total-width: 399px;
$checked-total-height: 283px;
$checked-image: '../img/png_sprite/sprite.png';
$checked: (309px, 195px, -309px, -195px, 12px, 9px, 399px, 283px, '../img/png_sprite/sprite.png', 'checked', );
$clock-name: 'clock';
$clock-x: 110px;
$clock-y: 231px;
$clock-offset-x: -110px;
$clock-offset-y: -231px;
$clock-width: 12px;
$clock-height: 12px;
$clock-total-width: 399px;
$clock-total-height: 283px;
$clock-image: '../img/png_sprite/sprite.png';
$clock: (110px, 231px, -110px, -231px, 12px, 12px, 399px, 283px, '../img/png_sprite/sprite.png', 'clock', );
$close-modal-name: 'close-modal';
$close-modal-x: 327px;
$close-modal-y: 172px;
$close-modal-offset-x: -327px;
$close-modal-offset-y: -172px;
$close-modal-width: 16px;
$close-modal-height: 16px;
$close-modal-total-width: 399px;
$close-modal-total-height: 283px;
$close-modal-image: '../img/png_sprite/sprite.png';
$close-modal: (327px, 172px, -327px, -172px, 16px, 16px, 399px, 283px, '../img/png_sprite/sprite.png', 'close-modal', );
$close-red-name: 'close-red';
$close-red-x: 98px;
$close-red-y: 231px;
$close-red-offset-x: -98px;
$close-red-offset-y: -231px;
$close-red-width: 12px;
$close-red-height: 12px;
$close-red-total-width: 399px;
$close-red-total-height: 283px;
$close-red-image: '../img/png_sprite/sprite.png';
$close-red: (98px, 231px, -98px, -231px, 12px, 12px, 399px, 283px, '../img/png_sprite/sprite.png', 'close-red', );
$dance-blue-name: 'dance-blue';
$dance-blue-x: 387px;
$dance-blue-y: 140px;
$dance-blue-offset-x: -387px;
$dance-blue-offset-y: -140px;
$dance-blue-width: 10px;
$dance-blue-height: 21px;
$dance-blue-total-width: 399px;
$dance-blue-total-height: 283px;
$dance-blue-image: '../img/png_sprite/sprite.png';
$dance-blue: (387px, 140px, -387px, -140px, 10px, 21px, 399px, 283px, '../img/png_sprite/sprite.png', 'dance-blue', );
$dance-instructor-name: 'dance-instructor';
$dance-instructor-x: 179px;
$dance-instructor-y: 140px;
$dance-instructor-offset-x: -179px;
$dance-instructor-offset-y: -140px;
$dance-instructor-width: 32px;
$dance-instructor-height: 32px;
$dance-instructor-total-width: 399px;
$dance-instructor-total-height: 283px;
$dance-instructor-image: '../img/png_sprite/sprite.png';
$dance-instructor: (179px, 140px, -179px, -140px, 32px, 32px, 399px, 283px, '../img/png_sprite/sprite.png', 'dance-instructor', );
$dumbbells-rounded-couple-in-silhouettes-name: 'dumbbells-rounded-couple-in-silhouettes';
$dumbbells-rounded-couple-in-silhouettes-x: 211px;
$dumbbells-rounded-couple-in-silhouettes-y: 140px;
$dumbbells-rounded-couple-in-silhouettes-offset-x: -211px;
$dumbbells-rounded-couple-in-silhouettes-offset-y: -140px;
$dumbbells-rounded-couple-in-silhouettes-width: 32px;
$dumbbells-rounded-couple-in-silhouettes-height: 32px;
$dumbbells-rounded-couple-in-silhouettes-total-width: 399px;
$dumbbells-rounded-couple-in-silhouettes-total-height: 283px;
$dumbbells-rounded-couple-in-silhouettes-image: '../img/png_sprite/sprite.png';
$dumbbells-rounded-couple-in-silhouettes: (211px, 140px, -211px, -140px, 32px, 32px, 399px, 283px, '../img/png_sprite/sprite.png', 'dumbbells-rounded-couple-in-silhouettes', );
$elect-2-name: 'elect-2';
$elect-2-x: 243px;
$elect-2-y: 140px;
$elect-2-offset-x: -243px;
$elect-2-offset-y: -140px;
$elect-2-width: 32px;
$elect-2-height: 32px;
$elect-2-total-width: 399px;
$elect-2-total-height: 283px;
$elect-2-image: '../img/png_sprite/sprite.png';
$elect-2: (243px, 140px, -243px, -140px, 32px, 32px, 399px, 283px, '../img/png_sprite/sprite.png', 'elect-2', );
$elect-name: 'elect';
$elect-x: 28px;
$elect-y: 195px;
$elect-offset-x: -28px;
$elect-offset-y: -195px;
$elect-width: 25px;
$elect-height: 32px;
$elect-total-width: 399px;
$elect-total-height: 283px;
$elect-image: '../img/png_sprite/sprite.png';
$elect: (28px, 195px, -28px, -195px, 25px, 32px, 399px, 283px, '../img/png_sprite/sprite.png', 'elect', );
$fb-big-name: 'fb-big';
$fb-big-x: 199px;
$fb-big-y: 0px;
$fb-big-offset-x: -199px;
$fb-big-offset-y: 0px;
$fb-big-width: 200px;
$fb-big-height: 40px;
$fb-big-total-width: 399px;
$fb-big-total-height: 283px;
$fb-big-image: '../img/png_sprite/sprite.png';
$fb-big: (199px, 0px, -199px, 0px, 200px, 40px, 399px, 283px, '../img/png_sprite/sprite.png', 'fb-big', );
$fb-color-name: 'fb-color';
$fb-color-x: 53px;
$fb-color-y: 195px;
$fb-color-offset-x: -53px;
$fb-color-offset-y: -195px;
$fb-color-width: 24px;
$fb-color-height: 24px;
$fb-color-total-width: 399px;
$fb-color-total-height: 283px;
$fb-color-image: '../img/png_sprite/sprite.png';
$fb-color: (53px, 195px, -53px, -195px, 24px, 24px, 399px, 283px, '../img/png_sprite/sprite.png', 'fb-color', );
$fb-name: 'fb';
$fb-x: 391px;
$fb-y: 172px;
$fb-offset-x: -391px;
$fb-offset-y: -172px;
$fb-width: 8px;
$fb-height: 15px;
$fb-total-width: 399px;
$fb-total-height: 283px;
$fb-image: '../img/png_sprite/sprite.png';
$fb: (391px, 172px, -391px, -172px, 8px, 15px, 399px, 283px, '../img/png_sprite/sprite.png', 'fb', );
$fitness-blue-name: 'fitness-blue';
$fitness-blue-x: 359px;
$fitness-blue-y: 172px;
$fitness-blue-offset-x: -359px;
$fitness-blue-offset-y: -172px;
$fitness-blue-width: 16px;
$fitness-blue-height: 16px;
$fitness-blue-total-width: 399px;
$fitness-blue-total-height: 283px;
$fitness-blue-image: '../img/png_sprite/sprite.png';
$fitness-blue: (359px, 172px, -359px, -172px, 16px, 16px, 399px, 283px, '../img/png_sprite/sprite.png', 'fitness-blue', );
$footboll-blue-name: 'footboll-blue';
$footboll-blue-x: 192px;
$footboll-blue-y: 172px;
$footboll-blue-offset-x: -192px;
$footboll-blue-offset-y: -172px;
$footboll-blue-width: 18px;
$footboll-blue-height: 18px;
$footboll-blue-total-width: 399px;
$footboll-blue-total-height: 283px;
$footboll-blue-image: '../img/png_sprite/sprite.png';
$footboll-blue: (192px, 172px, -192px, -172px, 18px, 18px, 399px, 283px, '../img/png_sprite/sprite.png', 'footboll-blue', );
$google-big-name: 'google-big';
$google-big-x: 0px;
$google-big-y: 100px;
$google-big-offset-x: 0px;
$google-big-offset-y: -100px;
$google-big-width: 200px;
$google-big-height: 40px;
$google-big-total-width: 399px;
$google-big-total-height: 283px;
$google-big-image: '../img/png_sprite/sprite.png';
$google-big: (0px, 100px, 0px, -100px, 200px, 40px, 399px, 283px, '../img/png_sprite/sprite.png', 'google-big', );
$google-color-name: 'google-color';
$google-color-x: 101px;
$google-color-y: 195px;
$google-color-offset-x: -101px;
$google-color-offset-y: -195px;
$google-color-width: 24px;
$google-color-height: 24px;
$google-color-total-width: 399px;
$google-color-total-height: 283px;
$google-color-image: '../img/png_sprite/sprite.png';
$google-color: (101px, 195px, -101px, -195px, 24px, 24px, 399px, 283px, '../img/png_sprite/sprite.png', 'google-color', );
$gray-burger-name: 'gray-burger';
$gray-burger-x: 277px;
$gray-burger-y: 195px;
$gray-burger-offset-x: -277px;
$gray-burger-offset-y: -195px;
$gray-burger-width: 16px;
$gray-burger-height: 10px;
$gray-burger-total-width: 399px;
$gray-burger-total-height: 283px;
$gray-burger-image: '../img/png_sprite/sprite.png';
$gray-burger: (277px, 195px, -277px, -195px, 16px, 10px, 399px, 283px, '../img/png_sprite/sprite.png', 'gray-burger', );
$gray-house-name: 'gray-house';
$gray-house-x: 375px;
$gray-house-y: 172px;
$gray-house-offset-x: -375px;
$gray-house-offset-y: -172px;
$gray-house-width: 16px;
$gray-house-height: 16px;
$gray-house-total-width: 399px;
$gray-house-total-height: 283px;
$gray-house-image: '../img/png_sprite/sprite.png';
$gray-house: (375px, 172px, -375px, -172px, 16px, 16px, 399px, 283px, '../img/png_sprite/sprite.png', 'gray-house', );
$gray-man-name: 'gray-man';
$gray-man-x: 157px;
$gray-man-y: 195px;
$gray-man-offset-x: -157px;
$gray-man-offset-y: -195px;
$gray-man-width: 16px;
$gray-man-height: 18px;
$gray-man-total-width: 399px;
$gray-man-total-height: 283px;
$gray-man-image: '../img/png_sprite/sprite.png';
$gray-man: (157px, 195px, -157px, -195px, 16px, 18px, 399px, 283px, '../img/png_sprite/sprite.png', 'gray-man', );
$gray-map-name: 'gray-map';
$gray-map-x: 299px;
$gray-map-y: 80px;
$gray-map-offset-x: -299px;
$gray-map-offset-y: -80px;
$gray-map-width: 18px;
$gray-map-height: 14px;
$gray-map-total-width: 399px;
$gray-map-total-height: 283px;
$gray-map-image: '../img/png_sprite/sprite.png';
$gray-map: (299px, 80px, -299px, -80px, 18px, 14px, 399px, 283px, '../img/png_sprite/sprite.png', 'gray-map', );
$gray-sale-name: 'gray-sale';
$gray-sale-x: 210px;
$gray-sale-y: 172px;
$gray-sale-offset-x: -210px;
$gray-sale-offset-y: -172px;
$gray-sale-width: 17px;
$gray-sale-height: 17px;
$gray-sale-total-width: 399px;
$gray-sale-total-height: 283px;
$gray-sale-image: '../img/png_sprite/sprite.png';
$gray-sale: (210px, 172px, -210px, -172px, 17px, 17px, 399px, 283px, '../img/png_sprite/sprite.png', 'gray-sale', );
$gym-blue-name: 'gym-blue';
$gym-blue-x: 257px;
$gym-blue-y: 80px;
$gym-blue-offset-x: -257px;
$gym-blue-offset-y: -80px;
$gym-blue-width: 21px;
$gym-blue-height: 17px;
$gym-blue-total-width: 399px;
$gym-blue-total-height: 283px;
$gym-blue-image: '../img/png_sprite/sprite.png';
$gym-blue: (257px, 80px, -257px, -80px, 21px, 17px, 399px, 283px, '../img/png_sprite/sprite.png', 'gym-blue', );
$hand-with-a-dumbbell-name: 'hand-with-a-dumbbell';
$hand-with-a-dumbbell-x: 328px;
$hand-with-a-dumbbell-y: 100px;
$hand-with-a-dumbbell-offset-x: -328px;
$hand-with-a-dumbbell-offset-y: -100px;
$hand-with-a-dumbbell-width: 32px;
$hand-with-a-dumbbell-height: 32px;
$hand-with-a-dumbbell-total-width: 399px;
$hand-with-a-dumbbell-total-height: 283px;
$hand-with-a-dumbbell-image: '../img/png_sprite/sprite.png';
$hand-with-a-dumbbell: (328px, 100px, -328px, -100px, 32px, 32px, 399px, 283px, '../img/png_sprite/sprite.png', 'hand-with-a-dumbbell', );
$hockey-blue-name: 'hockey-blue';
$hockey-blue-x: 227px;
$hockey-blue-y: 172px;
$hockey-blue-offset-x: -227px;
$hockey-blue-offset-y: -172px;
$hockey-blue-width: 17px;
$hockey-blue-height: 17px;
$hockey-blue-total-width: 399px;
$hockey-blue-total-height: 283px;
$hockey-blue-image: '../img/png_sprite/sprite.png';
$hockey-blue: (227px, 172px, -227px, -172px, 17px, 17px, 399px, 283px, '../img/png_sprite/sprite.png', 'hockey-blue', );
$hockey-name: 'hockey';
$hockey-x: 115px;
$hockey-y: 140px;
$hockey-offset-x: -115px;
$hockey-offset-y: -140px;
$hockey-width: 32px;
$hockey-height: 32px;
$hockey-total-width: 399px;
$hockey-total-height: 283px;
$hockey-image: '../img/png_sprite/sprite.png';
$hockey: (115px, 140px, -115px, -140px, 32px, 32px, 399px, 283px, '../img/png_sprite/sprite.png', 'hockey', );
$inst-name: 'inst';
$inst-x: 70px;
$inst-y: 231px;
$inst-offset-x: -70px;
$inst-offset-y: -231px;
$inst-width: 14px;
$inst-height: 14px;
$inst-total-width: 399px;
$inst-total-height: 283px;
$inst-image: '../img/png_sprite/sprite.png';
$inst: (70px, 231px, -70px, -231px, 14px, 14px, 399px, 283px, '../img/png_sprite/sprite.png', 'inst', );
$joga-blue-name: 'joga-blue';
$joga-blue-x: 0px;
$joga-blue-y: 231px;
$joga-blue-offset-x: 0px;
$joga-blue-offset-y: -231px;
$joga-blue-width: 13px;
$joga-blue-height: 21px;
$joga-blue-total-width: 399px;
$joga-blue-total-height: 283px;
$joga-blue-image: '../img/png_sprite/sprite.png';
$joga-blue: (0px, 231px, 0px, -231px, 13px, 21px, 399px, 283px, '../img/png_sprite/sprite.png', 'joga-blue', );
$kvstr-name: 'kvstr';
$kvstr-x: 51px;
$kvstr-y: 172px;
$kvstr-offset-x: -51px;
$kvstr-offset-y: -172px;
$kvstr-width: 23px;
$kvstr-height: 22px;
$kvstr-total-width: 399px;
$kvstr-total-height: 283px;
$kvstr-image: '../img/png_sprite/sprite.png';
$kvstr: (51px, 172px, -51px, -172px, 23px, 22px, 399px, 283px, '../img/png_sprite/sprite.png', 'kvstr', );
$label-name: 'label';
$label-x: 0px;
$label-y: 140px;
$label-offset-x: 0px;
$label-offset-y: -140px;
$label-width: 51px;
$label-height: 55px;
$label-total-width: 399px;
$label-total-height: 283px;
$label-image: '../img/png_sprite/sprite.png';
$label: (0px, 140px, 0px, -140px, 51px, 55px, 399px, 283px, '../img/png_sprite/sprite.png', 'label', );
$left-quote-name: 'left-quote';
$left-quote-x: 353px;
$left-quote-y: 80px;
$left-quote-offset-x: -353px;
$left-quote-offset-y: -80px;
$left-quote-width: 19px;
$left-quote-height: 13px;
$left-quote-total-width: 399px;
$left-quote-total-height: 283px;
$left-quote-image: '../img/png_sprite/sprite.png';
$left-quote: (353px, 80px, -353px, -80px, 19px, 13px, 399px, 283px, '../img/png_sprite/sprite.png', 'left-quote', );
$log-out-name: 'log-out';
$log-out-x: 295px;
$log-out-y: 172px;
$log-out-offset-x: -295px;
$log-out-offset-y: -172px;
$log-out-width: 16px;
$log-out-height: 16px;
$log-out-total-width: 399px;
$log-out-total-height: 283px;
$log-out-image: '../img/png_sprite/sprite.png';
$log-out: (295px, 172px, -295px, -172px, 16px, 16px, 399px, 283px, '../img/png_sprite/sprite.png', 'log-out', );
$mail-flag-name: 'mail-flag';
$mail-flag-x: 0px;
$mail-flag-y: 195px;
$mail-flag-offset-x: 0px;
$mail-flag-offset-y: -195px;
$mail-flag-width: 28px;
$mail-flag-height: 36px;
$mail-flag-total-width: 399px;
$mail-flag-total-height: 283px;
$mail-flag-image: '../img/png_sprite/sprite.png';
$mail-flag: (0px, 195px, 0px, -195px, 28px, 36px, 399px, 283px, '../img/png_sprite/sprite.png', 'mail-flag', );
$mail-name: 'mail';
$mail-x: 245px;
$mail-y: 195px;
$mail-offset-x: -245px;
$mail-offset-y: -195px;
$mail-width: 16px;
$mail-height: 11px;
$mail-total-width: 399px;
$mail-total-height: 283px;
$mail-image: '../img/png_sprite/sprite.png';
$mail: (245px, 195px, -245px, -195px, 16px, 11px, 399px, 283px, '../img/png_sprite/sprite.png', 'mail', );
$map-picker-name: 'map-picker';
$map-picker-x: 0px;
$map-picker-y: 267px;
$map-picker-offset-x: 0px;
$map-picker-offset-y: -267px;
$map-picker-width: 12px;
$map-picker-height: 16px;
$map-picker-total-width: 399px;
$map-picker-total-height: 283px;
$map-picker-image: '../img/png_sprite/sprite.png';
$map-picker: (0px, 267px, 0px, -267px, 12px, 16px, 399px, 283px, '../img/png_sprite/sprite.png', 'map-picker', );
$menu-book-name: 'menu-book';
$menu-book-x: 136px;
$menu-book-y: 172px;
$menu-book-offset-x: -136px;
$menu-book-offset-y: -172px;
$menu-book-width: 19px;
$menu-book-height: 18px;
$menu-book-total-width: 399px;
$menu-book-total-height: 283px;
$menu-book-image: '../img/png_sprite/sprite.png';
$menu-book: (136px, 172px, -136px, -172px, 19px, 18px, 399px, 283px, '../img/png_sprite/sprite.png', 'menu-book', );
$menu-burger-name: 'menu-burger';
$menu-burger-x: 261px;
$menu-burger-y: 195px;
$menu-burger-offset-x: -261px;
$menu-burger-offset-y: -195px;
$menu-burger-width: 16px;
$menu-burger-height: 10px;
$menu-burger-total-width: 399px;
$menu-burger-total-height: 283px;
$menu-burger-image: '../img/png_sprite/sprite.png';
$menu-burger: (261px, 195px, -261px, -195px, 16px, 10px, 399px, 283px, '../img/png_sprite/sprite.png', 'menu-burger', );
$menu-house-name: 'menu-house';
$menu-house-x: 173px;
$menu-house-y: 195px;
$menu-house-offset-x: -173px;
$menu-house-offset-y: -195px;
$menu-house-width: 16px;
$menu-house-height: 16px;
$menu-house-total-width: 399px;
$menu-house-total-height: 283px;
$menu-house-image: '../img/png_sprite/sprite.png';
$menu-house: (173px, 195px, -173px, -195px, 16px, 16px, 399px, 283px, '../img/png_sprite/sprite.png', 'menu-house', );
$menu-man-name: 'menu-man';
$menu-man-x: 141px;
$menu-man-y: 195px;
$menu-man-offset-x: -141px;
$menu-man-offset-y: -195px;
$menu-man-width: 16px;
$menu-man-height: 18px;
$menu-man-total-width: 399px;
$menu-man-total-height: 283px;
$menu-man-image: '../img/png_sprite/sprite.png';
$menu-man: (141px, 195px, -141px, -195px, 16px, 18px, 399px, 283px, '../img/png_sprite/sprite.png', 'menu-man', );
$menu-map-name: 'menu-map';
$menu-map-x: 317px;
$menu-map-y: 80px;
$menu-map-offset-x: -317px;
$menu-map-offset-y: -80px;
$menu-map-width: 18px;
$menu-map-height: 14px;
$menu-map-total-width: 399px;
$menu-map-total-height: 283px;
$menu-map-image: '../img/png_sprite/sprite.png';
$menu-map: (317px, 80px, -317px, -80px, 18px, 14px, 399px, 283px, '../img/png_sprite/sprite.png', 'menu-map', );
$menu-sale-name: 'menu-sale';
$menu-sale-x: 261px;
$menu-sale-y: 172px;
$menu-sale-offset-x: -261px;
$menu-sale-offset-y: -172px;
$menu-sale-width: 17px;
$menu-sale-height: 17px;
$menu-sale-total-width: 399px;
$menu-sale-total-height: 283px;
$menu-sale-image: '../img/png_sprite/sprite.png';
$menu-sale: (261px, 172px, -261px, -172px, 17px, 17px, 399px, 283px, '../img/png_sprite/sprite.png', 'menu-sale', );
$ok-color-name: 'ok-color';
$ok-color-x: 77px;
$ok-color-y: 195px;
$ok-color-offset-x: -77px;
$ok-color-offset-y: -195px;
$ok-color-width: 24px;
$ok-color-height: 24px;
$ok-color-total-width: 399px;
$ok-color-total-height: 283px;
$ok-color-image: '../img/png_sprite/sprite.png';
$ok-color: (77px, 195px, -77px, -195px, 24px, 24px, 399px, 283px, '../img/png_sprite/sprite.png', 'ok-color', );
$ok-name: 'ok';
$ok-x: 13px;
$ok-y: 252px;
$ok-offset-x: -13px;
$ok-offset-y: -252px;
$ok-width: 9px;
$ok-height: 15px;
$ok-total-width: 399px;
$ok-total-height: 283px;
$ok-image: '../img/png_sprite/sprite.png';
$ok: (13px, 252px, -13px, -252px, 9px, 15px, 399px, 283px, '../img/png_sprite/sprite.png', 'ok', );
$phone-name: 'phone';
$phone-x: 199px;
$phone-y: 80px;
$phone-offset-x: -199px;
$phone-offset-y: -80px;
$phone-width: 20px;
$phone-height: 20px;
$phone-total-width: 399px;
$phone-total-height: 283px;
$phone-image: '../img/png_sprite/sprite.png';
$phone: (199px, 80px, -199px, -80px, 20px, 20px, 399px, 283px, '../img/png_sprite/sprite.png', 'phone', );
$ping-pong-name: 'ping-pong';
$ping-pong-x: 147px;
$ping-pong-y: 140px;
$ping-pong-offset-x: -147px;
$ping-pong-offset-y: -140px;
$ping-pong-width: 32px;
$ping-pong-height: 32px;
$ping-pong-total-width: 399px;
$ping-pong-total-height: 283px;
$ping-pong-image: '../img/png_sprite/sprite.png';
$ping-pong: (147px, 140px, -147px, -140px, 32px, 32px, 399px, 283px, '../img/png_sprite/sprite.png', 'ping-pong', );
$plus-name: 'plus';
$plus-x: 122px;
$plus-y: 231px;
$plus-offset-x: -122px;
$plus-offset-y: -231px;
$plus-width: 12px;
$plus-height: 12px;
$plus-total-width: 399px;
$plus-total-height: 283px;
$plus-image: '../img/png_sprite/sprite.png';
$plus: (122px, 231px, -122px, -231px, 12px, 12px, 399px, 283px, '../img/png_sprite/sprite.png', 'plus', );
$red-heart-name: 'red-heart';
$red-heart-x: 84px;
$red-heart-y: 231px;
$red-heart-offset-x: -84px;
$red-heart-offset-y: -231px;
$red-heart-width: 14px;
$red-heart-height: 12px;
$red-heart-total-width: 399px;
$red-heart-total-height: 283px;
$red-heart-image: '../img/png_sprite/sprite.png';
$red-heart: (84px, 231px, -84px, -231px, 14px, 12px, 399px, 283px, '../img/png_sprite/sprite.png', 'red-heart', );
$scroll-name: 'scroll';
$scroll-x: 392px;
$scroll-y: 110px;
$scroll-offset-x: -392px;
$scroll-offset-y: -110px;
$scroll-width: 5px;
$scroll-height: 5px;
$scroll-total-width: 399px;
$scroll-total-height: 283px;
$scroll-image: '../img/png_sprite/sprite.png';
$scroll: (392px, 110px, -392px, -110px, 5px, 5px, 399px, 283px, '../img/png_sprite/sprite.png', 'scroll', );
$search-name: 'search';
$search-x: 343px;
$search-y: 172px;
$search-offset-x: -343px;
$search-offset-y: -172px;
$search-width: 16px;
$search-height: 16px;
$search-total-width: 399px;
$search-total-height: 283px;
$search-image: '../img/png_sprite/sprite.png';
$search: (343px, 172px, -343px, -172px, 16px, 16px, 399px, 283px, '../img/png_sprite/sprite.png', 'search', );
$select-burger-name: 'select-burger';
$select-burger-x: 205px;
$select-burger-y: 195px;
$select-burger-offset-x: -205px;
$select-burger-offset-y: -195px;
$select-burger-width: 20px;
$select-burger-height: 12px;
$select-burger-total-width: 399px;
$select-burger-total-height: 283px;
$select-burger-image: '../img/png_sprite/sprite.png';
$select-burger: (205px, 195px, -205px, -195px, 20px, 12px, 399px, 283px, '../img/png_sprite/sprite.png', 'select-burger', );
$slider-left-arrow-name: 'slider-left-arrow';
$slider-left-arrow-x: 42px;
$slider-left-arrow-y: 231px;
$slider-left-arrow-offset-x: -42px;
$slider-left-arrow-offset-y: -231px;
$slider-left-arrow-width: 14px;
$slider-left-arrow-height: 14px;
$slider-left-arrow-total-width: 399px;
$slider-left-arrow-total-height: 283px;
$slider-left-arrow-image: '../img/png_sprite/sprite.png';
$slider-left-arrow: (42px, 231px, -42px, -231px, 14px, 14px, 399px, 283px, '../img/png_sprite/sprite.png', 'slider-left-arrow', );
$slider-right-arrow-name: 'slider-right-arrow';
$slider-right-arrow-x: 56px;
$slider-right-arrow-y: 231px;
$slider-right-arrow-offset-x: -56px;
$slider-right-arrow-offset-y: -231px;
$slider-right-arrow-width: 14px;
$slider-right-arrow-height: 14px;
$slider-right-arrow-total-width: 399px;
$slider-right-arrow-total-height: 283px;
$slider-right-arrow-image: '../img/png_sprite/sprite.png';
$slider-right-arrow: (56px, 231px, -56px, -231px, 14px, 14px, 399px, 283px, '../img/png_sprite/sprite.png', 'slider-right-arrow', );
$small-yellow-eye-name: 'small-yellow-eye';
$small-yellow-eye-x: 225px;
$small-yellow-eye-y: 195px;
$small-yellow-eye-offset-x: -225px;
$small-yellow-eye-offset-y: -195px;
$small-yellow-eye-width: 20px;
$small-yellow-eye-height: 12px;
$small-yellow-eye-total-width: 399px;
$small-yellow-eye-total-height: 283px;
$small-yellow-eye-image: '../img/png_sprite/sprite.png';
$small-yellow-eye: (225px, 195px, -225px, -195px, 20px, 12px, 399px, 283px, '../img/png_sprite/sprite.png', 'small-yellow-eye', );
$small-yellow-picker-name: 'small-yellow-picker';
$small-yellow-picker-x: 0px;
$small-yellow-picker-y: 252px;
$small-yellow-picker-offset-x: 0px;
$small-yellow-picker-offset-y: -252px;
$small-yellow-picker-width: 13px;
$small-yellow-picker-height: 15px;
$small-yellow-picker-total-width: 399px;
$small-yellow-picker-total-height: 283px;
$small-yellow-picker-image: '../img/png_sprite/sprite.png';
$small-yellow-picker: (0px, 252px, 0px, -252px, 13px, 15px, 399px, 283px, '../img/png_sprite/sprite.png', 'small-yellow-picker', );
$soccer-ball-variant-name: 'soccer-ball-variant';
$soccer-ball-variant-x: 275px;
$soccer-ball-variant-y: 140px;
$soccer-ball-variant-offset-x: -275px;
$soccer-ball-variant-offset-y: -140px;
$soccer-ball-variant-width: 32px;
$soccer-ball-variant-height: 32px;
$soccer-ball-variant-total-width: 399px;
$soccer-ball-variant-total-height: 283px;
$soccer-ball-variant-image: '../img/png_sprite/sprite.png';
$soccer-ball-variant: (275px, 140px, -275px, -140px, 32px, 32px, 399px, 283px, '../img/png_sprite/sprite.png', 'soccer-ball-variant', );
$star-marker-name: 'star-marker';
$star-marker-x: 307px;
$star-marker-y: 140px;
$star-marker-offset-x: -307px;
$star-marker-offset-y: -140px;
$star-marker-width: 27px;
$star-marker-height: 32px;
$star-marker-total-width: 399px;
$star-marker-total-height: 283px;
$star-marker-image: '../img/png_sprite/sprite.png';
$star-marker: (307px, 140px, -307px, -140px, 27px, 32px, 399px, 283px, '../img/png_sprite/sprite.png', 'star-marker', );
$statistic-name: 'statistic';
$statistic-x: 118px;
$statistic-y: 172px;
$statistic-offset-x: -118px;
$statistic-offset-y: -172px;
$statistic-width: 18px;
$statistic-height: 20px;
$statistic-total-width: 399px;
$statistic-total-height: 283px;
$statistic-image: '../img/png_sprite/sprite.png';
$statistic: (118px, 172px, -118px, -172px, 18px, 20px, 399px, 283px, '../img/png_sprite/sprite.png', 'statistic', );
$sticker-sale-name: 'sticker-sale';
$sticker-sale-x: 100px;
$sticker-sale-y: 0px;
$sticker-sale-offset-x: -100px;
$sticker-sale-offset-y: 0px;
$sticker-sale-width: 99px;
$sticker-sale-height: 99px;
$sticker-sale-total-width: 399px;
$sticker-sale-total-height: 283px;
$sticker-sale-image: '../img/png_sprite/sprite.png';
$sticker-sale: (100px, 0px, -100px, 0px, 99px, 99px, 399px, 283px, '../img/png_sprite/sprite.png', 'sticker-sale', );
$sticker-top-name: 'sticker-top';
$sticker-top-x: 0px;
$sticker-top-y: 0px;
$sticker-top-offset-x: 0px;
$sticker-top-offset-y: 0px;
$sticker-top-width: 100px;
$sticker-top-height: 100px;
$sticker-top-total-width: 399px;
$sticker-top-total-height: 283px;
$sticker-top-image: '../img/png_sprite/sprite.png';
$sticker-top: (0px, 0px, 0px, 0px, 100px, 100px, 399px, 283px, '../img/png_sprite/sprite.png', 'sticker-top', );
$sticker-name: 'sticker';
$sticker-x: 200px;
$sticker-y: 100px;
$sticker-offset-x: -200px;
$sticker-offset-y: -100px;
$sticker-width: 96px;
$sticker-height: 34px;
$sticker-total-width: 399px;
$sticker-total-height: 283px;
$sticker-image: '../img/png_sprite/sprite.png';
$sticker: (200px, 100px, -200px, -100px, 96px, 34px, 399px, 283px, '../img/png_sprite/sprite.png', 'sticker', );
$swim-blue-name: 'swim-blue';
$swim-blue-x: 278px;
$swim-blue-y: 80px;
$swim-blue-offset-x: -278px;
$swim-blue-offset-y: -80px;
$swim-blue-width: 21px;
$swim-blue-height: 14px;
$swim-blue-total-width: 399px;
$swim-blue-total-height: 283px;
$swim-blue-image: '../img/png_sprite/sprite.png';
$swim-blue: (278px, 80px, -278px, -80px, 21px, 14px, 399px, 283px, '../img/png_sprite/sprite.png', 'swim-blue', );
$swimming-name: 'swimming';
$swimming-x: 83px;
$swimming-y: 140px;
$swimming-offset-x: -83px;
$swimming-offset-y: -140px;
$swimming-width: 32px;
$swimming-height: 32px;
$swimming-total-width: 399px;
$swimming-total-height: 283px;
$swimming-image: '../img/png_sprite/sprite.png';
$swimming: (83px, 140px, -83px, -140px, 32px, 32px, 399px, 283px, '../img/png_sprite/sprite.png', 'swimming', );
$tennis-blue-name: 'tennis-blue';
$tennis-blue-x: 174px;
$tennis-blue-y: 172px;
$tennis-blue-offset-x: -174px;
$tennis-blue-offset-y: -172px;
$tennis-blue-width: 18px;
$tennis-blue-height: 18px;
$tennis-blue-total-width: 399px;
$tennis-blue-total-height: 283px;
$tennis-blue-image: '../img/png_sprite/sprite.png';
$tennis-blue: (174px, 172px, -174px, -172px, 18px, 18px, 399px, 283px, '../img/png_sprite/sprite.png', 'tennis-blue', );
$trainer-name: 'trainer';
$trainer-x: 27px;
$trainer-y: 231px;
$trainer-offset-x: -27px;
$trainer-offset-y: -231px;
$trainer-width: 15px;
$trainer-height: 15px;
$trainer-total-width: 399px;
$trainer-total-height: 283px;
$trainer-image: '../img/png_sprite/sprite.png';
$trainer: (27px, 231px, -27px, -231px, 15px, 15px, 399px, 283px, '../img/png_sprite/sprite.png', 'trainer', );
$user-icon-name: 'user-icon';
$user-icon-x: 334px;
$user-icon-y: 140px;
$user-icon-offset-x: -334px;
$user-icon-offset-y: -140px;
$user-icon-width: 29px;
$user-icon-height: 29px;
$user-icon-total-width: 399px;
$user-icon-total-height: 283px;
$user-icon-image: '../img/png_sprite/sprite.png';
$user-icon: (334px, 140px, -334px, -140px, 29px, 29px, 399px, 283px, '../img/png_sprite/sprite.png', 'user-icon', );
$vall-blue-name: 'vall-blue';
$vall-blue-x: 244px;
$vall-blue-y: 172px;
$vall-blue-offset-x: -244px;
$vall-blue-offset-y: -172px;
$vall-blue-width: 17px;
$vall-blue-height: 17px;
$vall-blue-total-width: 399px;
$vall-blue-total-height: 283px;
$vall-blue-image: '../img/png_sprite/sprite.png';
$vall-blue: (244px, 172px, -244px, -172px, 17px, 17px, 399px, 283px, '../img/png_sprite/sprite.png', 'vall-blue', );
$vd-phone-name: 'vd-phone';
$vd-phone-x: 74px;
$vd-phone-y: 172px;
$vd-phone-offset-x: -74px;
$vd-phone-offset-y: -172px;
$vd-phone-width: 22px;
$vd-phone-height: 22px;
$vd-phone-total-width: 399px;
$vd-phone-total-height: 283px;
$vd-phone-image: '../img/png_sprite/sprite.png';
$vd-phone: (74px, 172px, -74px, -172px, 22px, 22px, 399px, 283px, '../img/png_sprite/sprite.png', 'vd-phone', );
$vk-big-name: 'vk-big';
$vk-big-x: 199px;
$vk-big-y: 40px;
$vk-big-offset-x: -199px;
$vk-big-offset-y: -40px;
$vk-big-width: 200px;
$vk-big-height: 40px;
$vk-big-total-width: 399px;
$vk-big-total-height: 283px;
$vk-big-image: '../img/png_sprite/sprite.png';
$vk-big: (199px, 40px, -199px, -40px, 200px, 40px, 399px, 283px, '../img/png_sprite/sprite.png', 'vk-big', );
$vk-color-name: 'vk-color';
$vk-color-x: 363px;
$vk-color-y: 140px;
$vk-color-offset-x: -363px;
$vk-color-offset-y: -140px;
$vk-color-width: 24px;
$vk-color-height: 24px;
$vk-color-total-width: 399px;
$vk-color-total-height: 283px;
$vk-color-image: '../img/png_sprite/sprite.png';
$vk-color: (363px, 140px, -363px, -140px, 24px, 24px, 399px, 283px, '../img/png_sprite/sprite.png', 'vk-color', );
$vk-name: 'vk';
$vk-x: 372px;
$vk-y: 80px;
$vk-offset-x: -372px;
$vk-offset-y: -80px;
$vk-width: 20px;
$vk-height: 12px;
$vk-total-width: 399px;
$vk-total-height: 283px;
$vk-image: '../img/png_sprite/sprite.png';
$vk: (372px, 80px, -372px, -80px, 20px, 12px, 399px, 283px, '../img/png_sprite/sprite.png', 'vk', );
$white-plus-name: 'white-plus';
$white-plus-x: 134px;
$white-plus-y: 231px;
$white-plus-offset-x: -134px;
$white-plus-offset-y: -231px;
$white-plus-width: 12px;
$white-plus-height: 12px;
$white-plus-total-width: 399px;
$white-plus-total-height: 283px;
$white-plus-image: '../img/png_sprite/sprite.png';
$white-plus: (134px, 231px, -134px, -231px, 12px, 12px, 399px, 283px, '../img/png_sprite/sprite.png', 'white-plus', );
$spritesheet-width: 399px;
$spritesheet-height: 283px;
$spritesheet-image: '../img/png_sprite/sprite.png';
$spritesheet-sprites: ($all-lines, $arrow-right-blue, $arrow-white, $arrow, $b-line, $ball, $blue-book, $blue-burger, $blue-house, $blue-man, $blue-map, $blue-picker, $blue-sale, $box-blue, $boxing, $bred-arrow, $buddhist-yoga-pose, $checked-bold, $checked, $clock, $close-modal, $close-red, $dance-blue, $dance-instructor, $dumbbells-rounded-couple-in-silhouettes, $elect-2, $elect, $fb-big, $fb-color, $fb, $fitness-blue, $footboll-blue, $google-big, $google-color, $gray-burger, $gray-house, $gray-man, $gray-map, $gray-sale, $gym-blue, $hand-with-a-dumbbell, $hockey-blue, $hockey, $inst, $joga-blue, $kvstr, $label, $left-quote, $log-out, $mail-flag, $mail, $map-picker, $menu-book, $menu-burger, $menu-house, $menu-man, $menu-map, $menu-sale, $ok-color, $ok, $phone, $ping-pong, $plus, $red-heart, $scroll, $search, $select-burger, $slider-left-arrow, $slider-right-arrow, $small-yellow-eye, $small-yellow-picker, $soccer-ball-variant, $star-marker, $statistic, $sticker-sale, $sticker-top, $sticker, $swim-blue, $swimming, $tennis-blue, $trainer, $user-icon, $vall-blue, $vd-phone, $vk-big, $vk-color, $vk, $white-plus, );
$spritesheet: (399px, 283px, '../img/png_sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
