@import "sprite";

.icon-phone {
  @include sprite($phone);
  display: inline-block;
}
.icon-vk {
  @include sprite($vk);
  display: inline-block;
}
.icon-fb {
  @include sprite($fb);
  display: inline-block;
}

.icon-inst {
  @include sprite($inst);
  display: inline-block;
}

.icon-ok {
  @include sprite($ok);
  display: inline-block;
}

.icon-arrow {
  @include sprite($arrow);
  display: inline-block;
}
.icon-mail-flag {
  @include  sprite($mail-flag);
  display: inline-block;
  position: absolute;
  top: -7px;
  left: 15px;
}
.icon-Email {
  @include sprite($mail);
  display: block;
  position: absolute;
  top: 60px;
  left: 31px;
}
.icon-b-line {
  @include sprite($b-line);
  display: inline-block;
}
.icon-vd-phone {
  @include sprite($vd-phone);
  display: inline-block;
}
.icon-kvstr {
  @include sprite($kvstr);
  display: inline-block;
}
.icon-map-picker {
  @include sprite($map-picker);
  display: inline-block;
}
.icon-user-icon {
  @include sprite($user-icon);
  display: inline-block;
  position: absolute;
  top: 17px;
  left: 16px;
}

.icon-menu-burger {
  @include sprite($menu-burger);
  display: inline-block;
}
.icon-menu-man {
  @include sprite($menu-man);
  display: inline-block;
}
.icon-menu-map {
  @include sprite($menu-map);
  display: inline-block;
}
.icon-menu-house {
  @include sprite($menu-house);
  display: inline-block;
}
.icon-menu-sale {
  @include sprite($menu-sale);
  display: inline-block;
}
.icon-menu-book {
  @include sprite($menu-book);
  display: inline-block;
}
.icon-search {
  @include sprite($search);
  display: inline-block;
}
.icon-box-blue {
  @include sprite($box-blue);
  display: inline-block;
}
.icon-vall-blue {
  @include sprite($vall-blue);
  display: inline-block;
}
.icon-joga-blue {
  @include sprite($joga-blue);
  display: inline-block;
}
.icon-swim-blue {
  @include sprite($swim-blue);
  display: inline-block;
}
.icon-dance-blue {
  @include sprite($dance-blue);
  display: inline-block;
}
.icon-tennis-blue {
  @include sprite($tennis-blue);
  display: inline-block;
}
.icon-fitness-blue {
  @include sprite($fitness-blue);
  display: inline-block;
}
.icon-football-blue {
  @include sprite($footboll-blue);
  display: inline-block;
}
.icon-hockey-blue {
  @include sprite($hockey-blue);
  display: inline-block;
}
.icon-gym-blue {
  @include sprite($gym-blue);
  display: inline-block;
}
.icon-all-lines {
  @include sprite($all-lines);
  display: inline-block;
}
.icon-close-modal {
  @include sprite($close-modal);
  display: inline-block;
}












