@import "sprite";

.icon-phone {
  @include sprite($phone);
  display: inline-block;
}
.icon-vk {
  @include sprite($vk);
  display: inline-block;
}
.icon-fb {
  @include sprite($fb);
  display: inline-block;
}

.icon-inst {
  @include sprite($inst);
  display: inline-block;
}

.icon-ok {
  @include sprite($ok);
  display: inline-block;
}

.icon-arrow {
  @include sprite($arrow);
  display: inline-block;
}
.icon-mail-flag {
  @include  sprite($mail-flag);
  display: inline-block;
}
.icon-Email {
  @include sprite($mail);
  display: block;
  position: absolute;
  top: 60px;
  left: 31px;
}
.icon-b-line {
  @include sprite($b-line);
  display: inline-block;
}
.icon-vd-phone {
  @include sprite($vd-phone);
  display: inline-block;
}
.icon-kvstr {
  @include sprite($kvstr);
  display: inline-block;
}
.icon-map-picker {
  @include sprite($map-picker);
  display: inline-block;
}
.icon-user-icon {
  @include sprite($user-icon);
  display: inline-block;
}

.icon-menu-burger {
  @include sprite($menu-burger);
  display: inline-block;
}
.icon-menu-man {
  @include sprite($menu-man);
  display: inline-block;
}
.icon-menu-map {
  @include sprite($menu-map);
  display: inline-block;
}
.icon-menu-house {
  @include sprite($menu-house);
  display: inline-block;
}
.icon-menu-sale {
  @include sprite($menu-sale);
  display: inline-block;
}
.icon-menu-book {
  @include sprite($menu-book);
  display: inline-block;
}
.icon-search {
  @include sprite($search);
  display: inline-block;
}
.icon-box-blue {
  @include sprite($box-blue);
  display: inline-block;
}
.icon-vall-blue {
  @include sprite($vall-blue);
  display: inline-block;
}
.icon-joga-blue {
  @include sprite($joga-blue);
  display: inline-block;
}
.icon-swim-blue {
  @include sprite($swim-blue);
  display: inline-block;
}
.icon-dance-blue {
  @include sprite($dance-blue);
  display: inline-block;
}
.icon-tennis-blue {
  @include sprite($tennis-blue);
  display: inline-block;
}
.icon-fitness-blue {
  @include sprite($fitness-blue);
  display: inline-block;
}
.icon-football-blue {
  @include sprite($footboll-blue);
  display: inline-block;
}
.icon-hockey-blue {
  @include sprite($hockey-blue);
  display: inline-block;
}
.icon-gym-blue {
  @include sprite($gym-blue);
  display: inline-block;
}
.icon-all-lines {
  @include sprite($all-lines);
  display: inline-block;
}
.icon-close-modal {
  @include sprite($close-modal);
  display: inline-block;
}
.icon-fb-big {
  @include sprite($fb-big);
  display: inline-block;
}
.icon-vk-big {
  @include sprite($vk-big);
  display: inline-block;
}
.icon-google-big {
  @include sprite($google-big);
  display: inline-block;
}
.icon-sticker {
  @include sprite($sticker);
  display: inline-block;
}
.icon-clock {
  @include sprite($clock);
  display: inline-block;
}
.icon-gray-burger {
  @include sprite($gray-burger);
  display: inline-block;
}
.icon-gray-man {
  @include sprite($gray-man);
  display: inline-block;
}
.icon-gray-map {
  @include sprite($gray-map);
  display: inline-block;
}
.icon-gray-house {
  @include sprite($gray-house);
  display: inline-block;
}
.icon-select-burger {
  @include sprite($select-burger);
  display: inline-block;
}
.icon-gray-sale {
  @include sprite($gray-sale);
  display: inline-block;
  position: relative;
  top: 3px;
}

.label-icon {
  @include sprite($label);
  display: inline-block;
}

.icon-star-marker {
  @include sprite($star-marker);
  display: inline-block;
}

.icon-log-out {
  @include sprite($log-out);
  display: inline-block;
}

.icon-plus {
  @include sprite($plus);
  display: inline-block;
}

.icon-close-red {
  @include sprite($close-red);
  display: inline-block;
}

.icon-trainer {
  @include sprite($trainer);
  display: inline-block;
}

.icon-elect {
  @include sprite($elect);
  display: inline-block;
}

.icon-elect-2 {
  @include sprite($elect-2);
  display: inline-block;
}

.icon-blue-picker {
  @include sprite($blue-picker);
  display: inline-block;
}

.icon-red-heart {
  @include sprite($red-heart);
  display: inline-block;
}

.icon-white-plus {
  @include sprite($white-plus);
  display: inline-block;
}

.icon-sticker-top {
  @include sprite($sticker-top);
  display: inline-block;
}

.icon-statistic {
  @include sprite($statistic);
  display: inline-block;
}

.icon-small-yellow-picker {
  @include sprite($small-yellow-picker);
  display: inline-block;
}

.icon-small-yellow-eye {
  @include sprite($small-yellow-eye);
  display: inline-block;
}

.icon-sticker-sale {
  @include sprite($sticker-sale);
  display: inline-block;
}













