
///////////// text ///////////////////////
$main-text-color: #222222;
$text-color: #3c3c3c;
$link-color: #066ab6;

$OS-Reg-font: "OpenSans-Regular", sans-serif;
$OS-SBold-font: "OpenSans-Semibold", sans-serif;
$OS-Bold-font: "OpenSans-Bold", sans-serif;
$OS-Light-font: "OpenSans-Light", sans-serif;
$OS-PTSansReg-font: "OpenSans-Regular", sans-serif;

$bg-color: #f8f8f7;
$accent: #1489e1;
$button-color: #f89b18;
$footer-bg-color: #1d2021;