@charset "UTF-8";
@import "fonts";
@import "var";
@import "mixin";
@import "sprite-icons-style";


html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: transparent;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
  outline-offset: 0;
}

div, a, input, button, ul, li, textarea {
  outline: none;
}

a, button {
  transition: all .3s ease;
}
textarea {
  padding: 10px;
  resize: none;
}
label {
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: .3s ease;
  &:hover {
    border-bottom-color: transparent;
  }
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

input, button {
  border: none;
  transition: all .3s ease;
}
input[type="text"] {
  -webkit-appearance: none;
}

input:focus {
  color: $text-color;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  text-indent: 10px;
}
input:focus:-moz-placeholder{
  opacity: 0;
  text-indent: 10px;
}
input:focus::-moz-placeholder {
  opacity: 0;
  text-indent: 10px;
}
input:focus:-ms-input-placeholder{
  opacity: 0;
  text-indent: 10px;
}
textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  text-indent: 10px;
}
textarea:focus:-moz-placeholder{
  opacity: 0;
  text-indent: 10px;
}
textarea:focus::-moz-placeholder {
  opacity: 0;
  text-indent: 10px;
}
textarea:focus:-ms-input-placeholder{
  opacity: 0;
  text-indent: 10px;
}

input::-webkit-input-placeholder {
  font-family: $OS-Light-font;
  font-size: 14px;
  color: #4e4e4e;
}
input:-moz-placeholder {
  font-family: $OS-Light-font;
  font-size: 14px;
  color: #4e4e4e;
}
input::-moz-placeholder {
  font-family: $OS-Light-font;
  font-size: 14px;
  color: #4e4e4e;

}
input:-ms-input-placeholder{
  font-family: $OS-Light-font;
  font-size: 14px;
  color: #4e4e4e;

}

body {
  min-height: 100%;
  width: 100%;
  background: $bg-color;
  color: $text-color;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  position: relative;
  line-height: 1.44;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-width: 320px;
  padding-right: 0 !important;
}

body:after {
  content: '';
  height: 320px;
  display: block;
}
.page-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 320px;
  background: $footer-bg-color;
  border-top: 3px solid $accent;
  padding-top: 60px;
  color: #fff;

  &__social {
    margin-top: 40px;
    text-align: center;

    li {
      display: inline-block;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__list {
    column-count: 3;
    padding-left: 40px;
    li {
      line-height: 2;
    }
    a {
      font-size: 15px;
      font-family: $OS-Light-font;
      text-decoration: none;
      border-bottom: 1px dotted #fff;
      color: #fff;
      &:hover {
        border-bottom-color: transparent;
      }

    }
  }
  &__top {
    padding-bottom: 40px;
  }
  &__bottom {
    border-top: 1px solid #222428;
    font-family: $OS-Light-font;
    font-size: 14px;
    padding-top: 19px;
    &--right {
      text-align: right;
    }
    a {
      font-size: inherit;
      color: inherit;
      text-decoration: none;
    }
  }
}

.page-footer__mailto {
  position: relative;

  .icon-mail-flag {
    position: absolute;
    top: -7px;
    left: 15px;
  }
  form {
    border: 1px dashed #313435;
    border-radius: 5px;
    padding: 15px 15px 5px;
    text-align: center;

  }

  &-title {
    font-family: $OS-Light-font;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
  }
  &-input {
    position: relative;
    height: 44px;
    padding-left: 45px;
    width: 100%;
    border-radius: 2px;
    &:focus {
      padding-left: 15px;
      &+.icon-Email {
        opacity: 0;
      }
    }
  }
  &-button {
    font-size: 14px;
    text-transform: uppercase;
    height: 40px;
    width: 173px;
    border-radius: 5px;
    margin: 15px auto -20px;
    display: inline-block;
    &:hover {
      background-color: $accent;
      color: #fff;
    }
  }
}

.btn {
  border: none;
  background: $button-color;
  text-decoration: none;
  color: #fff;
  transition: .3s ease;
  &:hover {
    background-color: $accent;
    color: #fff;
  }
  &:focus {
    color: #fff;
  }
}
.btn-big {
  padding: 15px 55px;
}
.btn-medium {
  padding: 12px 30px;
  text-align: center;
}

.site-header {
  position: relative;

  &--top {
    padding: 15px 0;
    .col-sm-12 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    position: inherit;
    display: inline-block;
    vertical-align: middle;
    a {
      display: inline-block;
    }
  }

  &__tel {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 30px;
    .icon-phone {
      position: relative;
      top: 3px;
      margin-right: 7px;
    }

    .icon-arrow {
      transition: .3s ease;
      margin-left: 3px;
      position: relative;
      bottom: 4px;
    }
    &.open {
      .icon-arrow {
        transform: rotateZ(-90deg);
      }
    }

    &--title {
      font-size: 20px;
      font-family: $OS-SBold-font;
      color: #363636;
      text-decoration: none;
    }

    &--handler {
      display: inline-block;
      width: 20px;
      height: 20px;
      .icon-arrow {
        position: relative;
        bottom: 5px;
        left: 5px;
        transition: .3s ease;
      }
    }

    .dropdown-menu {
      margin: 0;
      padding: 0;
      span {
        font-family: $OS-Bold-font;
        font-size: 14px;
      }
      a {
        text-decoration: none;
      }
      li:not(:last-child) {
        border-bottom: 1px solid #e9e9e9;
      }
      li {
        padding:10px 10px 10px 30px;
        position: relative;

        &:hover {
          background-color: #f2f2f2;
        }

        i {
          position: absolute;
          top: 13px;
          left: 13px;
        }
      }
    }
  }

  &__location {
    display: inline-block;
    position: inherit;
    vertical-align: middle;
    .icon-map-picker {
      margin-right: 4px;
    }
    .icon-arrow {
      position: relative;
      bottom: 2px;
      margin-left: 2px;
    }
    a {
      font-family: $OS-Light-font;
      color: $accent;
      text-decoration: none;

      &:hover {
        span:first-child {
          border-bottom-color: transparent;
        }
      }

      span:first-child{
        border-bottom: 1px dotted $accent;
        line-height: 1;
        display: inline-block;
        margin-left: 4px;
        transition: .3s ease;
      }
    }
    &>span {
      color: #363636;
      font-size: 14px;
    }
  }

  &__favorite {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;

    &--star {
      color: $button-color;
      font-size: 22px;
      text-decoration: none;
    }
    &--counter {
      font-size: 14px;
      color: #363636;
      font-family: $OS-SBold-font;
    }
  }

  &__add {
    display: inline-block;
    vertical-align: middle;
    a {
      position: relative;
      color: #fff;
      font-family: $OS-Light-font;
      font-size: 14px;
      padding-left: 25px;

      &:before {
        content: "+";
        font-size: 23px;
        position: absolute;
        top: 0;
        left: 8px;
      }
      &:hover {
        color: #fff;
        background-color: $accent;
      }
    }
  }

  &__login {
    border: 1px dashed #d0d0d0;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 15px 10px 60px;
    p {
      color: #222222;
      font-size: 14px;
      font-family: $OS-Light-font;
      margin-bottom: 0;
    }
    a {
      color: $accent;
      text-decoration: none;
      border-bottom: 1px dotted $accent;
      display: inline-block;
      line-height: 1.1;
      transition: .3s ease;
      &:hover {
        border-bottom-color: transparent;
      }
    }
    .icon-user-icon {
      position: absolute;
      top: 17px;
      left: 16px;
    }

  }

  &--menu {
    background-color: $accent;
    height: 60px;
    .navbar-collapse.in {
      position: relative;
      z-index: 1;
      background: #fff;
    }
    .navbar-nav {
      height: 60px;
      &>li>a {
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        font-family: $OS-Bold-font;
        text-decoration: none;
        position: relative;
        padding-top: 0;
        padding-bottom: 0;
        i {
          margin-right: 15px;

        }
      }
      &>li:hover  .site-header__main-menu {
        display: block;
      }
      &>li>a {
        display: inline-block;
        padding: 20px 0 20px 30px;
        position: relative;
        i {
          position: absolute;
          top: 20px;
          left: 0;
        }
        .icon-menu-burger {
          top: 24px;
        }
        .icon-menu-map {
          top: 22px;
        }
      }
      &>li:not(:last-child) {
        margin-right: 40px;
        position: inherit;

        a:before {
          content: '';
          display: block;
          background-color: #0c89e8;
          height: 14px;
          width: 1px;
          position: absolute;
          top: 23px;
          right: -23px;
        }
      }
      &>li {
        &>a:after {
          content: "";
          display: block;
          width: 100%;
          position: absolute;
          bottom: 1px;
          left: 0;
          right: 0;
          border-bottom: 4px solid transparent;
          transition: .3s ease;

        }
        &:hover > a:after {
          border-bottom-color: $button-color;
        }

      }
    }
    .navbar-right {
      margin-right: 0;
    }
  }
  &__search {
    padding: 13px 0;
    position: relative;
    
    input {
      height: 32px;
      padding-left: 10px;
    }
    .btn {
      position: absolute;
      top: 3px;
      right: 3px;
      i {
        position: relative;
        top: 3px;
      }
    }
  }

  &__main-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: auto;
    min-height: 300px;
    background-color: #fff;
    z-index: 11;
    padding: 36px 36px 45px;
    box-shadow: 0 5px 17px 3px rgba(0,0,0, .3);
    &>div {
      display: inline-block;
      margin: 0 -4px;
      vertical-align: top;
    }
    a:before{
      content: none !important;;
    }
    a:after{
      content: none !important;
    }
  }
}

.navbar-header {
  display: none;
}

.main-menu__left {
  width: 20%;

}
.main-menu__right {
  width: 80%;
  padding: 0 0 15px 25px;
  column-count: 3;
  column-gap: 30px;

  &--item {
    position: relative;
    padding-left: 40px;
    margin-bottom: 30px;

    &>a{
      background-color: $accent;
      color: #fff;
      text-transform: uppercase;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: auto;
      text-align: center;
      font-family: $OS-Bold-font;
      text-decoration: none;
      padding: 2px 0 0;
    }
    li {
      margin-bottom: 10px;
    }
    li a {
      color: #066ab6;
      text-decoration: none;
      border-bottom: 1px dotted #066ab6;
      transition: .3s ease;
      font-size: 14px;

      &:hover {
        border-bottom-color: transparent;
      }
      span {
        font-family: $OS-Bold-font;
        font-size: 14px;
        margin-left: 5px;
      }
    }
  }
}

.main-menu__bottom {
  width: auto;
  text-align: center;
  background: #ececec;
  position: absolute;
  bottom: 0;
  left: 4px;
  right: 4px;
  height: 45px;
  a{
    position: relative;
    top: 10px;
    font-size: 14px;
    color: #6e6e6e;
    text-decoration: none;
    border-bottom: 1px dotted #6e6e6e;
    transition: .3s ease;
    &:hover {
      border-bottom-color: transparent;
    }
  }
  i {
    position: relative;
    top: 13px;
    margin-right: 7px;
  }




}

.main-menu__left-title {
  text-transform: uppercase;
  font-size: 14px;
  font-family: $OS-Bold-font;
  color: #222;
}

.main-menu__left-list {
  border-right: 1px solid #e8e8e8;
  li {
    padding-left: 30px;
    position: relative;
    line-height: 2.7;

    a {
      font-family: $OS-PTSansReg-font;
      color: #066ab6;
      text-decoration: none;
      border-bottom: 1px dotted #066ab6;
      font-size: 20px;
      transition: .3s ease;
      display: inline-block;
      line-height: 1;
      &:hover {
        border-bottom-color: transparent;
      }
    }
  }

  i {
    position: absolute;
    top: 11px;
    left: 0;
  }
}

#search-field {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  width: 255px;
  background: #fff;
  padding: 3px 0;
  z-index: 10;
  border: 1px solid lightgray;
}
#search-trigger {
  position: relative;
  top: 7px;
}

.modal, .modal-open {
  overflow-x: hidden;
}

.modal-header {
  background-color: $accent;
  .close {
    opacity: 1;
  }
}
.modal-title {
  font-family: $OS-SBold-font;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
}
.modal-dialog {
  width: 650px;
}

.modal-body {
  position: relative;
  padding: 15px 15px 55px 15px;
}
.modal-footer.main-menu__bottom {
  padding: 0;
  left: 0;
  right: 0;
}
.modal-title__small {
  font-size: 16px;
  color: #222;
}
.input-round-border {
  border: 1px solid #cbcbcb;
  border-radius: 3px;
}
.input-md {
  height: 38px;
  width: 100%;
  padding-left: 10px;
}
.input-md-margin {
  margin-bottom: 20px;
}
.modal-body-wrapper {
  overflow: hidden;
}
.modal-block {
  padding: 10px 50px;
  &__left {
    background-color: #fff;
    margin-bottom: -999px;
    padding-bottom: 999px;
  }
  &__right {
    background-color: #f9f9f7;
    margin-bottom: -999px;
    padding-bottom: 999px;
    .modal-title__small {
      padding-left: 11px;
    }
  }
}
.modal__social {
  margin-bottom: 20px;
  text-align: center;
  i {
    opacity: .8;
    transition: .3s ease;
  }
  a:hover i {
    opacity: 1;
  }
}
.link {
  color: #066ab6;
  text-decoration: none;
  border-bottom: 1px dotted #066ab6;
}
.link-blue {
  color: #1475C0;
  text-decoration: none;
  border-bottom: 1px dotted #1475C0;
}
.text-small {
  font-size: 12px;
}
.text-light {
  font-family: $OS-Light-font;
}
.md-padding {
  padding: 30px 0;
}
.md-padding--bottom {
  padding:0 0 70px;
}
.custom-checkbox {
  position: relative;

  input {
    display: none;
    &:checked + label:before {
      background: url("../img/jpeg_files/checked.png") no-repeat center center;
    }
  }
  label {
    padding-left: 25px;
    font-size: 14px;
    font-family: $OS-Light-font;
    &:before {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      border: 1px solid #cbcbcb;
      border-radius: 3px;
      position: absolute;
      top: 3px;
      left: 0;
    }
  }
}

.custom-radio {
  position: relative;
  input {
    display: none;
    &:checked + label:before {
      background-color: $accent;
      box-shadow:inset 0 0 0 4px #fff;
    }
  }
  label {
    font-family: $OS-Light-font;
    font-size: 14px;
    color: #222;
    padding-left: 25px;
    &:before {
      content: '';
      display: block;
      width: 17px;
      height: 17px;
      border: 1px solid #cbcbcb;
      border-radius: 50%;
      position: absolute;
      top: 3px;
      left: 0;
    }
  }
}

.modal-link {
  color: #066ab6;
  text-decoration: none;
  border-bottom: 1px dotted #066ab6;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 20px;
}
.modal-inform {
  margin-bottom: 0;
  text-align: center;
  font-family: $OS-Light-font;
  font-size: 14px;
  color: #222;
}
.pseudo-placeholder {
  position: relative;
  input:focus + label {
    opacity: 0;
  }
  input.touch + label {
    opacity: 0;
  }
  label {
    position: absolute;
    top: 9px;
    left: 15px;
    color: #4e4e4e;
    font-family: $OS-Light-font;
    font-size: 14px;
    transition: .3s ease;
    span {
      color: #ff0000;
    }
  }
}

.logIn__form {
  margin-bottom: 30px;
}
.register__form {
  margin-bottom: 30px;
  .btn {
    margin-top: 20px;
  }
}
#sort-choice {

  .site-header__main-menu {
    display: block;
  }
}
.modal-dialog--big {
  width: 1170px;
}

.city-choice__list {
  column-count: 3;
  column-gap: 40px;
  a {
    border-bottom: 1px dotted #066ab6;
    color: #066ab6;
    transition: .3s ease;
    &:hover {
      border-bottom-color: transparent;
    }
  }
  li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
  }
  .city-checked {
    background: url("../img/jpeg_files/checked.png") no-repeat left center;
    a {
      color: #222;
      font-family: $OS-SBold-font;
      border-bottom-color: transparent;
    }
  }
}

.block-with-back {
  background: url("../img/jpeg_files/bg-special.png");
  //height: 700px;
  box-shadow: inset 0 0 15px 0 rgba(0, 1, 1, 0.3);
  position: relative;

  &:after {
    content: '';
    display: block;
    height: 12px;
    background: url("../img/jpeg_files/border-top.png") repeat-x;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  &:before {
    content: '';
    display: block;
    height: 12px;
    background: url("../img/jpeg_files/border-bottom.png") repeat-x;
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    width: 100%;
  }
}

.site-top-filter {
  padding: 60px 0;
  background: url("../img/jpeg_files/m-bg.jpg") repeat-x;


  &__title {
    font-size: 36px;
    text-align: center;
    color: #fff;
    margin-bottom: 65px;
  }

  &__form {
    .btn.dropdown-toggle.btn-default {
      padding-left: 47px;
      //background: #fff url("../img/png_icons/select-burger.png") no-repeat 15px center;
      height: 58px;
    }

    .form-group {
      float: left;
      margin-bottom: 0;
      width: 80%;

      &--item {
        float: left;
        position: relative;
        height: 58px;
        background-color: #fff;

        .icon-select-burger {
          position: absolute;
          top: 23px;
          left: 13px;
          z-index: 6;
          background-color: #fff;
        }
      }
    }
  }
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}



.left-round {
  width: 30%;
  border-right: 1px solid #e9e9e9;
  border-radius: 3px 0 0 3px;
}
.right-round {
  width: 30%;
  border-radius: 0 3px 3px 0;
}
.no-round{
  width: 40%;
  border-radius: 0;
  border-right: 1px solid #e9e9e9;
}


.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover.btn-default.active,
.btn-default:active, .btn-default:hover,
.open>.dropdown-toggle.btn-default,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover{
  color: #222;
  background-color: #fff;
  border-color: inherit;
}
select.custom-select {
  display: none;
}

.custom-select {
  .btn {
    background: #fff;
    color: #474747;
    font-size: 14px;
    font-family: $OS-Reg-font;
    outline: none;
  }
  .caret {
    transition: .3s ease;
  }
  &.open {
    .caret {
      transform: rotateZ(-90deg);
    }
  }
  .bs-searchbox {
    position: absolute;
    top: -48px;
    left: 0;
    right: 0;
    width: 100%;
  }
  .bs-searchbox .form-control {
    border: none;
    -webkit-appearance: none;
    box-shadow: none;
  }
  .bootstrap-select.btn-group .no-results {
    padding: 15px;
    margin: 0;
    white-space: normal;
  }
  .dropdown-menu {
    margin: -2px 0 0;
    padding: 0;
    li:not(:last-child){
      border-bottom: 1px solid #e9e9e9;
    }
  }
  .dropdown-menu>li>a {
    padding: 14px 20px;
  }
  .sprite-icon {
    margin-right: 10px;
  }
}

.bootstrap-select.btn-group .dropdown-menu li a:hover {
  background-color: #f2f2f2;
}

.custom-select.bootstrap-select.btn-group .dropdown-toggle .caret {
  border: none;
  @include sprite($arrow);
}
.filter-option {
  i {
    display: none;
  }
}

.btn.filter-button {
  float: right;
  height: 60px;
  width: 180px;
  font-size: 18px;
  background: linear-gradient(to top, #f78e13, #f9a422 100%);
  transition: .3s ease;

}
.btn.filter-button:hover {
  background: linear-gradient(to top, #f9a422,  #f78e13 100%);
}

.indicator {
  text-align: center;
  margin-top: 65px;
  color: #fff;
  margin-bottom: 15px;
  &-item {
    display: inline-block;
    width: 20%;
    &--title {
      font-size: 36px;
      font-family: $OS-Bold-font;
      margin-bottom: 0;
    }
    &--data {
      font-size: 18px;
    }
  }
}

.link-button {
  border-radius: 24px;
  padding: 9px 30px;
  color: #222;
  border: 1px solid $accent;
  transition: .3s ease;
  display: inline-block;
  min-width: 200px;
  &:hover {
    border-color: $button-color;
  }
}

.link-list {
  column-count: 3;
  padding-left: 5%;
  column-gap: 120px;
  padding-bottom: 30px;
  padding-top: 15px;

  &__item {
    position: relative;
    padding-left: 20px;
    margin-bottom: 15px;
    &:before {
      content: '';
      border: 2px solid rgb(18, 116, 191);
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 8px;
      width: 7px;
      height: 7px;
    }
    span {
      font-family: $OS-Bold-font;
      margin-left: 5px;
    }
  }
}

.center-title {
  text-align: center;
}

.section-block {
  &__title {
    font-size: 24px;
    font-family: $OS-Bold-font;
    color: $main-text-color;
    margin-bottom: 23px;
    .icon-elect {
      position: relative;
      top: 5px;
      margin-right: 15px;
    }
    .icon-elect-2 {
      position: relative;
      top: 5px;
      margin-right: 15px;
    }
    &--light {
      font-size: 24px;
      font-family: $OS-Reg-font;
      color: $main-text-color;
      margin-bottom: 23px;
      span {
        font-size: 14px;
        font-family: $OS-Light-font;
        color: #575757;
        position: relative;
        bottom: 2px;
      }
    }
  }
  &__text {
    text-indent: 30px;
    margin-bottom: 25px;
  }
  &__link {
    text-align: center;
    height: 45px;
  }
}

.goods-slider {

  &__item {
    display: inline-block;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 3px 11px 1px rgba(0,0,0, .3);
    padding: 6px;
    max-width: 198px;
    margin: auto;

    &--foto {
      overflow: hidden;
      position: relative;

      height: 186px;
      img {
        height: 100%;
        width: auto;
      }
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background: url("../img/jpeg_files/border-image.png") repeat-x;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

      }
      a {
        display: block;
      }
      .icon-sticker{
        position: absolute;
        bottom: 30px;
        left: 0;
        span {
          font-family: $OS-SBold-font;
          display: block;
          color: rgba(255, 255, 255, 0.949);
          text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.2);
          margin-top: 6px;
          margin-left: 20px;
        }
      }
    }
    &--link {
      padding: 10px;
      a {
        color: #222;
        font-size: inherit;
        line-height: 1.4;
        display: inline-block;
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        
      }
    }
    &:hover {
      background-color: #1274bf;
      .goods-slider__item--foto:after {
        background: url("../img/jpeg_files/border-image-blue.png") repeat-x;
      }
      .goods-slider__item--link a {
        color: #fff;
      }
    }
  }
}

.news-slider {
  &__item {
    display: inline-block;
    max-width: 250px;
    &--foto {
      overflow: hidden;
      position: relative;
      height: 190px;
      img {
        height: 100%;
        width: auto;
      }
    }
    &--link {
      margin: 20px 0;
      height: 70px;
      overflow: hidden;
      text-overflow: ellipsis;
      a{
        color: inherit;
        font-size: inherit;
        border-bottom: 1px dotted #222;
        &:hover {
          border-bottom-color: transparent;
        }
      }
    }
  }
}
.time-sticker {
  position: absolute;
  bottom: 30px;
  left: 0;
  display: inline-block;
  width: 115px;
  background-color: $accent;
  color: #fff;
  padding: 5px 0 5px 13px;
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 21px solid $accent;
    border-right: 20px solid transparent;
    position: absolute;
    top: 0;
    right: -15px;
  }
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 21px solid $accent;
    border-right: 20px solid transparent;
    position: absolute;
    bottom: 0;
    right: -15px;
  }
  i {
    margin-right: 3px;
    position: relative;
    top: 1px;
  }
  time {
    font-family: $OS-Bold-font;
    font-size: 14px;

  }
}

.slick-initialized .slick-slide {
  text-align: center;
  &>div {
    text-align: left;
  }
}
.slick-slider .slick-list, .slick-slider .slick-track {
  padding: 5px 0;
}
.slick-arrow{
  position: absolute;
  top: 50%;
  margin-top: -17px;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  color: transparent;
  box-shadow: 0 0 4px 1px rgba(0,0,0, .3);
  z-index: 9;
  &:hover{
    box-shadow: 0 0 8px 2px rgba(0,0,0, .3);
  }
  &.slick-next {
    right: -30px;
    background:#fff url("../img/jpeg_files/slider-right-arrow.png") no-repeat center;
    
  }
  &.slick-prev {
    left: -30px;
    background:#fff url("../img/jpeg_files/slider-left-arrow.png") no-repeat center;
  }
}
.goods-slider {
  margin-bottom: 30px;
}

//////////////////////////////////////////////// breadcrumbs ///////////////////////////////////////////////////
.breadcrumbs {
  font-family: $OS-Light-font;
  color: #343434;
  padding: 20px 0;
  font-size: 14px;
  ul {
    li{
      display: inline-block;
      position: relative;

      &:not(:last-child){
        a{
          border-bottom: 1px dotted #343434;
        }
        &:after {
          content: "";
          margin: 0 9px 0 15px;
          display: inline-block;
          @include sprite($bred-arrow);
        }
      }
      a {
        text-decoration: none;
        color: inherit;
        transition: .3s ease;
        &:hover {
          border-bottom-color: transparent;
        }
      }
    }
  }
}

//////////////////////////////////////////////// blog ///////////////////////////////////////////////////////////

.blog {
  .icon-star-marker {
    margin-right: 15px;
    position: relative;
    top: 7px;
  }
}

.left-sidebar {
  font-family: $OS-SBold-font;
  &--title {
    font-size: 16px;
    background-color: #ffb200;
    position: relative;
    text-align: center;
    padding: 20px 0 15px;
    margin-bottom: 1px;
    margin-top: 1px;
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -12px;
      left: 0;
      right: 0;
      height: 12px;
      width: 100%;
      background: url("../img/jpeg_files/border-yellow.png") repeat-x;
    }
  }
}

.left-sidebar-nav {
  background-color: #1274bf;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 10px;
  a{
    color: inherit;
    background-color: #0f66a9;
  }
  &__title {
    position: relative;
  }
  &__title a{
    display: block;
    padding: 15px 30px;
    font-size: 14px;

    .caret {
      color: #ffb200;
      position: absolute;
      top: 23px;
      right: 15px;
      transition: .3s ease;
    }
    &.collapsed{
      background-color: #1274bf;
      .caret{
        transform: rotateZ(180deg);
        transform-origin: center;
      }
    }
  }
  &.left-sidebar-nav--ctrl {
    padding: 0;
    font-size: 14px;
    font-family: $OS-SBold-font;
    a {
      display: block;
      background-color: transparent;
      padding: 15px 0;
      border-top: 1px solid #2a82c6;
    }
    li {
      padding: 0 21px 0 25px;
      transition: all .3s ease-in-out;
      position: relative;
      cursor: pointer;
      pointer-events: all;
      border-right: 4px solid transparent;
      &:hover {
        background-color: #0f66a9;
        border-right-color: #ffb200;
        a{
          border-top-color: transparent;
        }
        &+li a {
          border-top-color: transparent;
        }
      }
      &.active {
        background-color: #0f66a9;
        border-right-color: #ffb200;
        a{
          border-top-color: transparent;
        }
        &+li a {
          border-top-color: transparent;
        }
      }
    }
    .icon-log-out {
      position: relative;
      margin-left: 10px;
      top: 3px;
    }
  }
}

.left-sidebar-nav__content {
  background-color: #0f66a9;
  li{
    padding: 10px 0 10px 25px;
    border-top: 1px solid #2776b2;
    position: relative;
    a {
      text-decoration: none;
      position: relative;
      &:before {
        content: '';
        display: block;
        height: 5px;
        width: 5px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        left: -15px;
      }
    }
    span {
      margin-left: 5px;
    }
    &:hover {
      a {
        text-decoration: underline;
      }
      &:after {
        opacity: 1;
      }
    }
    &:after {
      content: "";
      display: block;
      width: 5px;
      height: 100%;
      background-color: $button-color;
      position: absolute;
      top: 0;
      right: -25px;
      bottom: 0;
      opacity: 0;
      transition: .3s ease;
    }
  }
  ul{
    padding: 0 25px;
    font-family: $OS-Light-font;
    font-size: 14px;
  }
}

.left-sidebar__subscribe {
  background-color: #1274bf;
  border-radius: 4px;
  padding: 40px 20px 20px;
  position: relative;
  margin-top: 60px;
  .label-icon {
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -25px;
  }
  &--title {
    font-family: $OS-Bold-font;
    font-size: 14px;
    text-align: center;
    padding: 0 0 20px;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
  }
  fieldset {
    margin-bottom: 15px;
    background-color: #0f66a9;
    padding: 0 10px ;
    border-radius: 4px;
    box-shadow: inset 0 0 6px 0 rgba(2, 85, 148, 0.75);
    input {
      width: 100%;
      background-color: transparent;
      height: 40px;
      color: #fff;
      &::-webkit-input-placeholder {color:#fff;}
      &::-moz-placeholder          {color:#fff;}
      &:-moz-placeholder           {color:#fff;}
      &:-ms-input-placeholder      {color:#fff;}

      &:last-child {
        border-top: 1px solid #2776b2;
      }
    }
  }

  .btn {
    transition: none;
    font-size: 16px;
  }

  .btn:hover {
    background: linear-gradient(to top, #f9a422, #f78e13 100%);
  }
}
.left-sidebar__upcount {
  margin-top: 40px;
  .left-sidebar--title {
    font-size: 14px;
    b {
      font-family: $OS-Bold-font;
    }
  }
  .left-sidebar-nav {
    text-align: center;
  }
  .round-clear-btn {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 7px 30px;
    display: inline-block;
    margin: 15px 0 10px;
    border-radius: 20px;
    font-size: 14px;
    
  }
}
.left-sidebar__display-ID {
  margin-top: 40px;
}
.round-clear-btn {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  padding: 7px 30px;
  border-radius: 20px;
  font-size: 14px;
  &:hover {
    background-color: #ffb200;
    color: #222;
    border-color: transparent;
  }

}
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #d1d1d1;
  font-size: 22px;
  height: auto;
  width: 100px;
  position: absolute;
  padding: 0;
  top: -3px;
  right: -10px;
}
.star-ratings-css-top {
  color: #ffb200;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}
.block-with-border {
  border: 1px solid #e4e4e4;
  padding: 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 8px 0 rgba(0,0,0, .1);
}
.blog-list {
  &__item {
    border: 1px solid #e4e4e4;
    padding: 20px;
    background-color: #fff;
    border-radius: 2px;
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    box-shadow: 0 0 8px 0 rgba(0,0,0, .1);
    transition: .3s ease;
    &:hover {
      border-color: $accent;
      box-shadow: 0 0 8px 0 rgba(20, 137, 225, 0.2);
    }

    &--content {
      position: relative;
      margin-left: 280px;
    }

    &--foto {
      height: 180px;
      width: 250px;
      float: left;
      position: relative;
      overflow: hidden;
      a {
        display: block;
      }
      img {
        height: 100%;
        width: auto;
      }
    }
  }
  &--title {
    font-family: $OS-Bold-font;
    font-size: 18px;
    max-width: 430px;
    max-height: 25px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &--subtitle {
    display: inline-block;
    margin-bottom: 10px;
    line-height: 1;
    font-size: 14px;
  }
  &--prev {
    color: $text-color;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100px;
  }
  &--readAll{
    font-size: 14px;
    display: inline-block;
    position: absolute;
    bottom: 22px;
    left: 305px;
    line-height: 1;
    &:after {
      content: "";
      display: inline-block;
      @include sprite($arrow-right-blue);
      position: absolute;
      top: 2px;
      right: -15px;

    }
  }
}

/////////////////////////////////// pagination ///////////////////////////////////////////////////////

.site-pagination {
  text-align: center;
  color: $text-color;
  padding: 20px 0;
  li {
    display: inline-block;
  }
  .active {
    a{
      border-color: $accent;
      color: $accent;
      font-family: $OS-Bold-font;
    }
  }
  a {
    display: block;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    padding: 5px 13px 4px;
    border-radius: 4px;
    color: inherit;
    &:hover {
      border-color: $accent;
      color: $accent;
    }
  }
  &--prev {
    margin-right: 15px;
  }
  &--next {
    margin-left: 15px;
  }
}

///////////////////////////////////////////////// article /////////////////////////////////////////////////////
.article-block {
  @extend .blog-list__item;
  float: none;
  &:hover {
    box-shadow: none;
    border-color: #d8d8d8;
  }

  .star-ratings-css {
    top: 17px;
    right: 25px;
    .rateit-font {
      font-size: 24px;
    }
  }
  .section-block__title {
    margin-top: 0;
    max-width: 500px;
    line-height: 1;
    margin-bottom: 15px;
  }
}
.article-foto {
  position: relative;
  height: 400px;
  overflow: hidden;
  margin-bottom: 20px;

  img{
    height: auto;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 20px;

  }
}
.image-wrapper {
  overflow: hidden;
  margin-bottom: 15px;
  img {
    max-width: 100%;
    height: auto;
    width: 100%;
  }
}
.article-content {
  font-size: 14px;
  padding-bottom: 20px;
  p {
    text-indent: 20px;
    margin-bottom: 20px;
  }
}
.social-counter {
  background-color: #f4f4f4;
  padding: 15px;
}
.social-likes__counter_single, .social-likes_ready .social-likes__counter {
  //display: inline-block;
  //background: #fff;
  //color: black;
  //padding: 5px;
}
.social-likes_ready .social-likes__counter_empty {
  //display: none !important;
}
.social-likes__button {
  padding: 8px 8px 7px 30px;
  font-weight: 300;
}
.social-likes__icon_twitter {
  top: 8px;
  left: 8px;
}
.social-likes__icon_vkontakte {
  top: 10px;
  left: 7px;
}
.social-likes__icon_odnoklassniki {
  left: 12px;
  top: 6px;
}
.social-likes__icon_plusone {
  left: 10px;
  top: 7px;
}
.social-likes__icon_facebook {
  left: 8px;
  top: 7px;
  font-size: 16px;
}

.text-center {
  text-align: center;
}
.top-zero {
  margin-top: 0;
}
.bottom-zero {
  margin-bottom: 0;
}
.rateit-font {
  font-size: 22px;
}
.rateit .rateit-selected,
.rateit .rateit-hover {
  color: #ffb200;
}
.text-medium {
  font-size: 14px;
  font-family: $OS-Reg-font;
  color: #3d3d3d;
  margin-bottom: 15px;
}
.list-counter {
  padding-left: 50px;
  padding-top: 10px;
  margin-bottom: 30px;
  &__yellow {
    li {
      &:before {
        color: #ffba1a;
        border-color: #ffba1a;
      }
    }
  }
  &__blue {
    li {
      &:before {
        color: #066ab6;
        border-color: #066ab6;
      }
    }
  }
  li {
    position: relative;
    counter-increment: myCount;
    &:before {
      content: counter(myCount);
      display: block;
      height: 22px;
      width: 22px;
      border: 1px solid;
      border-radius: 50%;
      position: absolute;
      top: -1px;
      left: -40px;
      text-align: center;
      font-size: 14px;
    }
  }
}
.blockquote {
  padding: 20px 40px;
  margin: 0 0 20px;
  font-size: 14px;
  border: 1px solid #1274bf;
  border-radius: 4px;
  position: relative;
  &:after {
    top: 15px;
    left: 10px;

  }
  &:before {
    bottom: 15px;
    right: 10px;
  }
}
.blockquote:after,
.blockquote:before {
  content: '';
  @include sprite($left-quote);
  display: block;
  position: absolute;
}

.border-input {
  border: 1px solid #cbcbcb;
  height: 38px;
  border-radius: 3px;
  //padding: 0 10px;
  margin-bottom: 15px;
  font-size: 14px;
}

.custom-checkbox {
  display: none;
  &+label {
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    &:before {
      content: "";
      display: inline-block;
      height: 16px;
      width: 16px;
      border: 1px solid #cbcbcb;
      border-radius: 2px;
      position: absolute;
      margin-right: 8px;
      top: 2px;
      left: 0;
      background-color: #fff;
    }
  }
  &:checked+label:before {
    background: #fff url("../img/jpeg_files/checked.png") no-repeat center;
  }
}
.label-bold {
  font-size: 14px;
  font-family: $OS-SBold-font;
}
.label-medium {
  font-family: $OS-Reg-font;
}

.is-active-check {
  margin-bottom: 25px;
}
.half-input {
  width: 49%;
}
.add-block {
  font-size: 14px;
  .form-group {
    margin-bottom: 15px;
    float: none;
  }
  .custom-select {
    .btn-group.open .dropdown-toggle {
      box-shadow: none;
    }
    .btn {
      height: 38px;
      border: 1px solid #cbcbcb;
      border-radius: 3px;
      outline: none !important;
      &:focus {
        border-color: #cbcbcb;
        box-shadow: none !important;
      }
      &:hover {
        border-color: #cbcbcb;
      }
    }
  }
  .map-init {
    margin-top: 15px;
    border: 1px solid #cbcbcb;
    border-radius: 3px;
  }
  .photo-set--title {
    font-family: $OS-SBold-font;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .photo-set--list {
    vertical-align: top;
    ul {
      display: inline-block;
      width: 100%;
      li:nth-child(6n+6){
        margin-right: 0;
      }
    }
    .photo-set--item {
      display: inline-block;
      width: 101px;
      height: 101px;
      overflow: hidden;
      position: relative;
      margin-right: 4.5%;
      margin-bottom: 15px;

      .custom-input-file-2 {
        border: 1px solid #cbcbcb;
        transition: .3s ease;
        &:hover {
          border-color: $accent;
        }
      }


      img {
        height: 100%;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

      }
    }
  }
  .object-description {
    //padding: 15px 0;
    textarea {
      height: 100px;
    }
  }
  .contact-info {
    //margin-bottom: 20px;
  }
  .section-block__title {
    margin-bottom: 30px;
  }
  .add-item {
    color: $accent;
    display: inline-block;
    padding: 8px 0;
    i {
      margin-right: 5px;
      position: relative;
      top: 1px;
    }
  }
  .info__label {
    display: inline-block;
    vertical-align: middle;
    padding: 8px 0;
    white-space: nowrap;
    &--bold {
      font-family: $OS-Bold-font;
    }
  }
  .add-sport-section {
    background-color: #eaeaea;
    border: 1px solid #cbcbcb;
    padding: 30px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0, .1);
  }
  .no-left-padding {
    padding-left: 0;
  }
  .sub-section {
    padding: 15px 30px;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    box-shadow: 0 2px 4px 0 rgba(0,0,0, .1);

    .label-medium {
      position: relative;
      top: 5px;
    }
  }
  .add-sport-section-block {
    margin-bottom: 50px;
  }
  .checkout-stream {


    &__list {
      border: 1px solid #e2e2e2;
      box-shadow: inset 0 0 5px 0 rgba(0, 1, 1, 0.15);
      background-color: #f0f0f0;
      padding: 10px 15px 10px 20px;
      border-radius: 4px;
      margin-bottom: 20px;

      .mCSB_scrollTools .mCSB_draggerRail {
        background-color: transparent;
        box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.2);
        width: 7px;
      }
      .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        width: 9px;
        background: #9b9b9b url("../img/png_icons/scroll.png") no-repeat center;
      }
    }
    &__item {
      border-bottom: 1px solid #cbcbcb;
      padding: 8px 0 4px;
      &:last-child {
        border: none;
      }
      .label-medium {
        display: block;
      }
    }
  }
  .add-sport-trainer {
    &__list {
      margin-bottom: 30px;
    }
    &__item {
      &.border-input {
        padding: 8px 25px 8px 35px;
        position: relative;
        cursor: pointer;
        span {
          font-family: $OS-SBold-font;
          font-size: 16px;
          color: $accent;
          border-bottom: 1px dotted $accent;
          display: inline-block;
          line-height: 1;
          transition: .3s ease;
          &:hover {
            border-bottom-color: transparent ;
          }
        }
      }
      .icon-trainer {
        position: absolute;
        top: 10px;
        left: 10px;
      }
      .icon-close-red {
        position: absolute;
        top: 12px;
        right: 10px;
      }
    }
  }
  .btn {
    &.btn-danger {
      padding: 9px 25px;
    }
    &.btn-success {
      padding: 9px 25px;
    }
  }
  .add-block__submit {
    background-image: linear-gradient(to top, #0e67b5, #1a7fc5);
    border-top: 2px solid #338dcb;
    border-radius: 4px;
    color: #fff;
    padding: 14px 30px;
    margin-right: 40px;
    &:hover {
      background-image: linear-gradient(to bottom, #0e67b5, #1a7fc5);
    }
  }
  .form-footer {
    padding-top: 60px;
    padding-bottom: 25px;
  }
  .add-block__reset {
    background: none;
    color: $accent;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.btn-yellow-gradient {
  background-image: linear-gradient(to top, #f7921c, #fab142);
  &:hover {
    background-image: linear-gradient(to bottom, #f7921c, #fab142);
  }
}
.btn-blue-gradient {
  background-image: linear-gradient(to top, #0f67b5, #338dcb);
  &:hover {
    background-image: linear-gradient(to bottom, #0f67b5, #338dcb);
  }
}

.btn {
  &.btn-danger {
    background-color: #e92d2d;
    &:hover {
      background-color: #ff2e2e;
    }
  }
  &.btn-success {
    background-color: #1274bf;
  }
  &.btn-redact{
    background-color: #929292;
    color: #fff;
    &:hover {
      background-color: #a3a3a3;
      color: #fff;
    }
  }
}
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open>.dropdown-toggle.btn-success.focus,
.open>.dropdown-toggle.btn-success:focus,
.open>.dropdown-toggle.btn-success:hover {
  color: #fff;
  background-color: #1274bf;
  border-color: #1274bf;
}
.btn.add-club-btn {
  padding: 10px 20px;
  position: relative;
  bottom: 6px;
  .icon-white-plus {
    position: relative;
    margin-right: 3px;
    top: 2px;
  }
}
.custom-input-file {
  display: flex;
  height: 48px;
  border: 1px dashed #cbcbcb;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s ease;
  margin-bottom: 15px;
  &:hover {
    color: $accent;
    border-color: $accent;
  }
  span {
    display: inline-block;
    margin: auto;
  }
  input {
    display: none;
  }
}
.custom-input-file-2 {
  display: inline-block;
  width: 101px;
  height: 101px;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  &:after {
    content: '';
    display: block;
    height: 40px;
    width: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -1px;
    background-color: #d6d6d6;
  }
  &:before {
    content: '';
    display: block;
    height: 2px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2px;
    margin-left: -20px;
    background-color: #d6d6d6;
  }

  input {
    display: none;
  }
}
.border-input--short {
  max-width: 100px;
}
.sm-padding {
  padding: 15px 0;
}

.goods {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  box-shadow: 0 0 9px 1px rgba(0,0,0, .1);
  font-size: 14px;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  transition: .3s ease;

  &:hover {
    border-color: #1489e1;
    box-shadow: 0 0 8px 0 rgba(20, 137, 225, 0.2);
  }

  &-photo {
    width: 250px;
    height: 220px;
    overflow: hidden;
    position: relative;
    float: left;
    a {
      display: block;
      height: 100%;
    }
    .icon-sticker-top {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .icon-sticker-empty {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      span {
        font-style: normal;
        color: #fff;
        font-family: $OS-SBold-font;
        display: inline-block;
        transform: rotateZ(-45deg);
        position: absolute;
        top: 23px;
        left: 18px;
      }
    }
    img {
      height: auto;
      width: 100%;
      position: absolute;
      min-height: 220px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-prop {
    margin-left: 250px;
    height: 220px;
    padding: 15px;
    &__title {
      font-family: $OS-SBold-font;
      font-size: 18px;
      margin: 0 0 15px 0;
      a {
        color: inherit;
      }
    }
    &__partitions {
      p {
        margin-bottom: 0;
      }
      &--list {
        padding-left: 5px;
        &>li {
          padding: 0;
          &:last-child a{
            text-decoration: none;
            margin-left: 5px;
          }
        }
        a{
          color: inherit;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
        .link-blue {
          color: $accent;
        }
      }
    }
    hr {
      margin-top: 15px;
      margin-bottom: 15px;
      border-top: 1px solid #e2e2e2;
    }
    &__left-block {
      float: left;
    }
    &__right-block {
      float: right;
    }
    &__location {
      height: 40px;
      display: inline-block;
      max-width: 350px;
      overflow: hidden;
      text-overflow: ellipsis;
      a {
        color: #066ab6;
        border-bottom: 1px dotted #066ab6;
        transition: .3s ease;
        &:hover {
          border-bottom: transparent;
        }
      }
      .icon-blue-picker {
        margin-right: 2px;
        position: relative;
        top: 4px;
      }
    }
    &__rating-favorite {
      .rateit {
        position: relative;
        top: 4px;
        margin-right: 3px;
      }

    }
    &__reviews {
      color: #343434;
      border-bottom: 1px dotted #343434;
      margin-right: 15px;
    }
    &__to-favorite {
      color: #343434;
      .icon-red-heart {
        position: relative;
        margin-right: 3px;
        top: 1px;
      }
    }
    &__start-price {
      text-align: center;
      padding-top: 2px;
      margin-bottom: 20px;
      span {
        font-family: $OS-Bold-font;
      }
      p {
        margin: 0;
      }
    }
  }
}
.rateit-value-now {
  font-family: $OS-SBold-font;
  display: inline-block;
  min-width: 23px;
  margin-right: 15px;
}

.bold-text {
  font-family: $OS-Bold-font;
}


.admin-goods {
  margin-bottom: 25px;
  transition: .3s ease;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
  &:hover {
    border-color: #1489e1;

  }
  .goods {
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #e6e6e6;
  }
  &__control {

    &--left {
      float: left;
      padding: 5px 15px 20px;
      .btn-redact {
        margin-right: 10px;
      }
    }
    &--right {
      float: right;
      padding: 0 15px 0;
    }
  }
}

.direction-filter {
  background-color: #fff;
  font-size: 14px;
  padding: 15px 0;
  border-bottom: 1px solid #e4e4e4;
  box-shadow: 0 0 10px 1px rgba(0,0,0, .1);
  form {
    &>div {
      display: inline-block;
    }
  }
  &__item {
    margin-right: 2%;
    &:nth-child(3){
      margin-right: 0;
    }

    label {
      font-family: $OS-Bold-font;
      margin-bottom: 0;
      margin-right: 10px;
    }
    &--checkbox {
      font-family: $OS-Light-font;
      margin-left: 45px;
      vertical-align: middle;
      margin-top: 5px;
      label {
        display: block;
        position: relative;
        &:before {
          position: absolute;
          top: 2px;
          left: 0;
        }
      }
    }
    &--submit {
      margin-left: 35px;
    }
  }

  &__wrapper {
    display: inline-block;
    height: 40px;
    vertical-align: middle;
    border: 1px solid #cbcbcb;
    border-radius: 3px;
    .custom-select .btn {
      border: none;
    }
    .custom-select .dropdown-menu {
      margin: 0;
    }
    &--lg{
      width: 180px;
    }
    &--md{
      width: 130px;
    }
  }
}
.custom-checkbox.custom-checkbox__bold {
  &:checked+label:before {
    border: none;
    @include sprite($checked-bold);
    left: -2px;
    top: 0;
  }

}

.item-filter {
  font-size: 14px;
  padding: 5px 0;
  ul {
    display: inline-block;
    padding: 5px 0;
    &>li {
      padding: 0;
    }
  }
  &__child {
    a {
      color: #066ab6;
      border-bottom: 1px dotted #066ab6;
      line-height: 1;
      margin: 15px;
      transition: .3s ease;
      &:hover {
        border-bottom-color: transparent;
      }
    }
    &.active{
      a{
        border-bottom: none;
      }

    }
  }
}

.banner {
  margin-bottom: 20px;
  a {
    display: block;
    height: 100%;
    img {
      max-width: 100%;
      height: auto;
      width: 100%;
    }
  }
}

.right-sidebar {
  font-size: 14px;

  &__map {
    position: relative;
    &--link {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: 75%;
      z-index: 1;
    }
  }
}

.direction-show-more {
  font-size: 14px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;

  a {
    display: inline-block;
    height: 38px;
    width: 190px;
    border: 1px solid $accent;
    line-height: 2.5;
    border-radius: 40px;
    color: $text-color;
    &:hover {
      border-color: $button-color;
    }
  }
}

.reviews {
  &-item {
    padding: 20px 25px;
    overflow: hidden;
    &__head {
      margin-bottom: 10px;
    }
    &__body {
      margin-bottom: 30px;
    }
  }
  &-title {
    font-family: $OS-SBold-font;
    font-size: 18px;
    max-width: 65%;
    &--sm {
      font-size: 16px;
      margin-top: 2px;
    }
  }
  &-rating {
    .rateit-value-now {
      margin-right: 0;
    }
    .rateit-font {
      vertical-align: bottom;
      margin: 0 5px;
    }
  }
  &-content {
    p {
      text-indent: 20px;
      margin-bottom: 0;
    }
  }
  &-data {
    color: #898989;
  }
  &-del {
    &.link {
      color: #de1111;
      border-bottom-color: #de1111;
      &:hover {
        border-bottom-color: transparent;
      }
    }
  }
}

.personal-form {
  padding: 0 100px 20px 0;
  font-size: 14px;

  &__required-block {
    margin-top: 25px;
    margin-bottom: 10px;
  }
  &__checkbox-list {
    margin-top: 10px;
    margin-bottom: 50px;
  }
  &__confirm {
    display: block;
    line-height: 0;
    margin-bottom: 14px;
    font-size: 12px;
    font-style: italic;
    a{
      margin-left: 5px;
    }
  }
}

.datepicker {
  padding: 0 10px;
}
.mark-red {
  background: transparent;
  color: #ff0000;;
}

.statistic {
  padding: 10px 5px 15px;
}

.statistic-header {
  margin-bottom: 15px;
  .info__label {
    margin-right: 10px;
  }
}
.stacktable.small-only {
  display: none;
}
.statistic-body {
  .icon-small-yellow-picker {
    margin-right: 8px;
  }
  .icon-small-yellow-eye {
    margin-right: 7px;
  }
  &__table {
    font-size: 14px;
    width: 100%;
    display: block;
    border-radius: 4px;
    overflow: hidden;
    tbody {
      text-align: center;
      width: 100%;
      display: table;
      tr {
        vertical-align: middle;
        border: 1px solid #e4e4e4;
        &:nth-child(even) {
          background-color: #f9f9f9;
        }
        td {
          border: 1px solid #e4e4e4;
          height: 50px;
        }
        td:first-child {
          text-align: left;
          padding: 0 20px;
          width: 34%;
        }
        td:nth-child(2){
          width: 22%;
        }
        td:nth-child(3){
          width: 20%;
        }
        td:nth-child(4){
          width: 24%;
        }
      }
      tr:first-child {
        background-color: $accent-second;
        color: #fff;
        font-family: $OS-Bold-font;
        td {
          border: 1px solid #1682d5;
        }


      }
    }
  }
}
//////////////////////////////////////////////////////// object /////////////////////////////////////////

.object-top {
  position: relative;
  min-height: 280px;
  color: $main-text-color;
  &.goods {
    &:hover {
      border-color: #eee;
    }
  }

  .goods-prop__location {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    display: block;
    max-width: none;
    height: auto;
    padding: 15px 0 20px;
    margin: 20px 0;
  }

  &__prop {
    margin-left: 320px;
  }

  &__sticker {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }

  &__slider{
    width: 290px;
    height: 339px;
    float: left;
    overflow: hidden;

    .lSSlideWrapper {
      height: 250px;

    }

    
    .lSAction {
      .ctrl {
        display: block;
        height: 25px;
        width: 25px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        margin-top: -10px;
        svg {
          width: 100%;
          height: 100%;
        }
        &.right-arrow {
          right: 2px;
        }
        &.left-arrow {
          left: 2px;
        }
      }
    }

    .lSAction>a {
      background: none;
      top: 0;
      bottom: 0;
      height: 100%;
      margin: 0;
    }

    .lSAction>.lSPrev {
      left: 0;
      background-image: linear-gradient(to right, rgba(0,0,0, .5), rgba(0,0,0, .01));
    }

    .lSAction>.lSNext {
      background-image: linear-gradient(to left, rgba(0,0,0, .5), rgba(0,0,0, .01));
      right: 0;
    }
  }

  &__controls {
    padding: 5px 0 0;
    .goods-prop__rating-favorite {
      margin-top: 10px;
    }
    .goods-prop__to-favorite {
      margin-left: 40px;
    }
  }
}

.lSSlideOuter .lSPager.lSGallery li {
  height: 82px;
  position: relative;
  overflow: hidden;
}
.lSSlideWrapper .lSSlide, .lSSlideWrapper.usingCss .lSFade>* {
  height: 250px;
  position: relative;
  overflow: hidden;
}

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
  border-radius: 0;
}
.lSSlideOuter .lSPager.lSGallery img {
  display: block;
  max-width: none;
  //height: 82px;
  //width: 100%;
  height: 82px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.object-img-slider {
  //height: 250px !important;
}

.object-img-slider__item {
  img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.goods-prop__price {
  b {
    margin: 0 5px;
  }
  tr {
    vertical-align: bottom;
    td:first-child {
      width: 30%;
    }
    td:nth-child(2) {
      width: 50%;
    }
    td:nth-child(3) {
      width: 20%;
    }
  }
}

.border-dots {
  border-bottom: 1px dotted $text-color;
}

.goods-prop__price {
  li {
    margin-bottom: 15px;
  }
  &--left {
    display: inline-block;
    width: 77%;
    margin: 0 -2px;
    position: relative;

    p:first-child {
      float: left;
      margin-right: 3px;
    }
    p:last-child {
      display: flex;
      height: 15px;
    }
    span:first-child {
      margin-right: 3px;
      position: relative;
      z-index: 1;
      background-color: #fff;
    }
    span:last-child {
      display: block;
      position: absolute;
      bottom: 3px;
      left: 0;
      right: 0;
    }
  }
  &--right {
    display: inline-block;
    width: 23%;
    margin: 0 -2px;
  }
}

.business-hours {
  li {
    display: inline-block;
    width: 48%;
    margin-left: -2px;
    margin-right: 4%;
    border: 1px solid #1274bf;
    padding:5px 10px;
    &:last-child {
      margin-right: 0;
      border-color: #e2e2e2;
    }
    time {
      display: block;
    }
  }
}

.object-contacts {

  &__title{
    font-size: 16px;
    font-family: $OS-Bold-font;
    margin-bottom: 15px;
  }
  &>li {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.social-share {
  li {
    display: inline-block;
    opacity: .8;
    transition: .3s ease;
    margin-right: 5px;

    &:hover {
      opacity: 1;
    }
  }
}

.business-tel {
  li {
    margin-bottom: 5px;
  }
  a {
    color: #343434;
  }
}

.return-to-search {
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  font-family: $OS-Light-font;
  .icon-return {
    margin-right: 3px;
    position: relative;
    top: 2px;
  }
}





















@import "tab-accord";
@import "price-accord";
@import "1200";
@import "991";
@import "768";