@charset "UTF-8";
@import "fonts";
@import "var";
@import "mixin";
@import "sprite-icons-style";

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: transparent;
}

div, a, input, button, ul, li {
  outline: none;
}
a, button {
  transition: all .3s ease;
}
a {
  text-decoration: none;
  transition: .3s ease;
  &:hover {
    border-bottom-color: transparent;
  }
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

input, button {
  -webkit-appearance: none;
  border: none;
  transition: all .3s ease;
}
input:focus {
  color: $text-color;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  text-indent: 10px;
}
input:focus:-moz-placeholder{
  opacity: 0;
  text-indent: 10px;
}
input:focus::-moz-placeholder {
  opacity: 0;
  text-indent: 10px;
}
input:focus:-ms-input-placeholder{
  opacity: 0;
  text-indent: 10px;
}

body {
  min-height: 100%;
  width: 100%;
  background: $bg-color;
  color: $text-color;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  position: relative;
  line-height: 1.44;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-width: 320px;
}

body:after {
  content: '';
  height: 320px;
  display: block;
}
.page-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 320px;
  background: $footer-bg-color;
  border-top: 3px solid $accent;
  padding-top: 60px;
  color: #fff;

  &__social {
    margin-top: 40px;
    text-align: center;

    li {
      display: inline-block;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__list {
    column-count: 3;
    padding-left: 40px;
    li {
      line-height: 2;
    }
    a {
      font-size: 15px;
      font-family: $OS-Light-font;
      text-decoration: none;
      border-bottom: 1px dotted #fff;
      color: #fff;
      &:hover {
        border-bottom-color: transparent;
      }

    }
  }
  &__top {
    padding-bottom: 40px;
  }
  &__bottom {
    border-top: 1px solid #222428;
    font-family: $OS-Light-font;
    font-size: 14px;
    padding-top: 19px;
    &--right {
      text-align: right;
    }
    a {
      font-size: inherit;
      color: inherit;
      text-decoration: none;
    }
  }
}

.page-footer__mailto {
  position: relative;

  form {
    border: 1px dashed #313435;
    border-radius: 5px;
    padding: 15px 15px 5px;
    text-align: center;

  }

  &-title {
    font-family: $OS-Light-font;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
  }
  &-input {
    position: relative;
    height: 44px;
    padding-left: 45px;
    width: 100%;
    border-radius: 2px;
    &:focus {
      padding-left: 15px;
      &+.icon-Email {
        opacity: 0;
      }
    }
  }
  &-button {
    font-size: 14px;
    text-transform: uppercase;
    height: 40px;
    width: 173px;
    border-radius: 5px;
    margin: 15px auto -20px;
    display: inline-block;
    &:hover {
      background-color: $accent;
      color: #fff;
    }
  }
}

.btn {
  border: none;
  background: $button-color;
  text-decoration: none;
}

.site-header {
  position: relative;

  &__logo {
    position: inherit;
    display: inline-block;
    vertical-align: middle;
    a {
      display: inline-block;
    }
  }

  &__tel {
    display: inline-block;
    position: inherit;
    vertical-align: middle;

    &--title {
      font-size: 20px;
      font-family: $OS-SBold-font;
      color: #363636;
      text-decoration: none;
    }

    &--handler {
      display: inline-block;
      width: 20px;
      height: 20px;
    }

    .dropdown-menu {
      padding: 15px 15px 0;
      margin: 0;
      span {
        font-family: $OS-Bold-font;
        font-size: 14px;
      }
      a {
        text-decoration: none;
      }
      li:not(:last-child) {
        border-bottom: 1px solid #e9e9e9;
        margin-bottom: 10px;
      }
      li {
        padding-left: 20px;
        position: relative;
        padding-bottom: 5px;

        i {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  &__location {
    display: inline-block;
    position: inherit;
    vertical-align: middle;
    a {
      font-family: $OS-Light-font;
      color: $accent;
      text-decoration: none;

      span:first-child{
        border-bottom: 1px dashed $accent;
        line-height: 1;
        display: inline-block;
      }
    }
    &>span {
      color: #363636;
      font-size: 14px;
    }
  }

  &__favorite {
    display: inline-block;
    vertical-align: middle;

    &--star {
      color: $button-color;
      font-size: 22px;
      text-decoration: none;
    }
    &--counter {
      font-size: 14px;
      color: #363636;
      font-family: $OS-SBold-font;
    }
  }

  &__add {
    display: inline-block;
    vertical-align: middle;
    a {
      position: relative;
      color: #fff;
      font-family: $OS-Light-font;
      font-size: 14px;
      padding-left: 25px;

      &:before {
        content: "+";
        font-size: 23px;
        position: absolute;
        top: 0;
        left: 8px;
      }
      &:hover {
        color: #fff;
        background-color: $accent;
      }
    }
  }

  &__login {
    border: 1px dashed #d0d0d0;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 15px 10px 60px;
    p {
      color: #222222;
      font-size: 14px;
      font-family: $OS-Light-font;
      margin-bottom: 0;
    }
    a {
      color: $accent;
      text-decoration: none;
      border-bottom: 1px dotted $accent;
      display: inline-block;
      line-height: 1.1;
    }
  }

  &--menu {
    background-color: $accent;
    height: 60px;
    .navbar-collapse.in {
      position: relative;
      z-index: 1;
      background: #fff;
    }
    .navbar-nav {
      height: 60px;
      &>li>a {
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        font-family: $OS-Bold-font;
        text-decoration: none;
        position: relative;
        padding-top: 0;
        padding-bottom: 0;
        i {
          margin-right: 15px;

        }
      }
      &>li:hover  .site-header__main-menu {
        display: block;
      }
      &>li>a {
        display: inline-block;
        padding: 20px 0 20px 30px;
        position: relative;
        i {
          position: absolute;
          top: 20px;
          left: 0;
        }
        .icon-menu-burger {
          top: 24px;
        }
        .icon-menu-map {
          top: 22px;
        }
      }
      &>li:not(:last-child) {
        margin-right: 40px;
        position: inherit;

        a:before {
          content: '';
          display: block;
          background-color: #0c89e8;
          height: 14px;
          width: 1px;
          position: absolute;
          top: 23px;
          right: -23px;
        }
      }
      &>li:first-child {
        &>a:after {
          content: "";
          display: block;
          width: 100%;
          position: absolute;
          bottom: 1px;
          left: 0;
          right: 0;
          border-bottom: 4px solid transparent;
          transition: .3s ease;

        }
        &:hover > a:after {
          border-bottom-color: $button-color;
        }

      }
    }
    .navbar-right {
      margin-right: 0;
    }
  }
  &__search {
    padding: 13px 0;
    position: relative;
    
    input {
      height: 32px;
      padding-left: 10px;
    }
    .btn {
      i {
        position: relative;
        top: 3px;
      }
    }
  }

  &__main-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: auto;
    min-height: 300px;
    background-color: #fff;
    z-index: 10;
    padding: 36px 36px 45px;
    box-shadow: 0 5px 17px 3px rgba(0,0,0, .3);
    &>div {
      display: inline-block;
      margin: 0 -4px;
      vertical-align: top;
    }
    a:before{
      content: none !important;;
    }
    a:after{
      content: none !important;
    }
  }
}

.main-menu__left {
  width: 20%;

}
.main-menu__right {
  width: 80%;
  padding: 0 0 15px 25px;
  column-count: 3;
  column-gap: 30px;

  &--item {
    position: relative;
    padding-left: 40px;
    margin-bottom: 30px;

    &>a{
      background-color: $accent;
      color: #fff;
      text-transform: uppercase;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: auto;
      text-align: center;
      font-family: $OS-Bold-font;
      text-decoration: none;
      padding: 2px 0 0;
    }
    li {
      margin-bottom: 10px;
    }
    li a {
      color: #066ab6;
      text-decoration: none;
      border-bottom: 1px dotted #066ab6;
      transition: .3s ease;
      font-size: 14px;

      &:hover {
        border-bottom-color: transparent;
      }
      span {
        font-family: $OS-Bold-font;
        font-size: 14px;
        margin-left: 5px;
      }
    }
  }
}

.main-menu__bottom {
  width: auto;
  text-align: center;
  background: #ececec;
  position: absolute;
  bottom: 0;
  left: 4px;
  right: 4px;
  height: 45px;
  a{
    position: relative;
    top: 10px;
    font-size: 14px;
    color: #6e6e6e;
    text-decoration: none;
    border-bottom: 1px dotted #6e6e6e;
    transition: .3s ease;
    &:hover {
      border-bottom-color: transparent;
    }
  }
  i {
    position: relative;
    top: 13px;
    margin-right: 7px;
  }




}

.main-menu__left-title {
  text-transform: uppercase;
  font-size: 14px;
  font-family: $OS-Bold-font;
  color: #222;
}

.main-menu__left-list {
  border-right: 1px solid #e8e8e8;
  li {
    padding-left: 30px;
    position: relative;
    line-height: 2.7;

    a {
      font-family: $OS-PTSansReg-font;
      color: #066ab6;
      text-decoration: none;
      border-bottom: 1px dotted #066ab6;
      font-size: 20px;
      transition: .3s ease;
      display: inline-block;
      line-height: 1;
      &:hover {
        border-bottom-color: transparent;
      }
    }
  }

  i {
    position: absolute;
    top: 11px;
    left: 0;
  }
}

#search-field {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  width: 255px;
  background: #fff;
  padding: 3px 0;
  z-index: 10;
  border: 1px solid lightgray;
}
#search-trigger {
  position: relative;
  top: 7px;
}

.modal-header {
  background-color: $accent;
  .close {
    opacity: 1;
  }
}
.modal-title {
  font-family: $OS-SBold-font;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
}
.modal-body {
  position: relative;
  padding: 15px 15px 55px 15px;
}
.modal-footer.main-menu__bottom {
  padding: 0;
  left: 0;
  right: 0;
}

.city-choice__list {
  column-count: 3;
  column-gap: 40px;
  a {
    border-bottom: 1px dotted #066ab6;
    color: #066ab6;
  }
  li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
  }
  .city-checked {
    background: url("../img/jpeg_files/checked.png") no-repeat left center;
    a {
      color: #222;
      font-family: $OS-SBold-font;
      border-bottom-color: transparent;
    }
  }
}

.block-with-back {
  background: url("../img/jpeg_files/bg-special.png");
  height: 700px;
  box-shadow: inset 0 0 15px 0 rgba(0, 1, 1, 0.3);
  position: relative;

  &:after {
    content: '';
    display: block;
    height: 12px;
    background: url("../img/jpeg_files/border-top.png") repeat-x;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  &:before {
    content: '';
    display: block;
    height: 12px;
    background: url("../img/jpeg_files/border-bottom.png") repeat-x;
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    width: 100%;
  }
}

















@import "1200";
@import "991";
@import "768";